/*
                                ..zeee.
                               $$$$$$$$
                               4$$$$$P
               .ze$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ec.
           z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$c
        z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$c
      d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$b
    d$$$$$$$$$$$$$$$$$$$$*$$$$$$$$$$$$$$$$$$*$$$$$$$$$$$$$$$$$$$b
   d$$$$$$$$$$$$$$$$$$P"  "$$$$$$$$$$$$$$$$%  ^$$$$$$$$$$$$$$$$$$$
  $$$$$$$$$$$$$$$$$$"      ^$$$$$$$$$$$$$$"     "$$$$$$$$$$$$$$$$$$
 d$$$$$$$$$$$$$$$$"          *$$$$$$$$$$$"        "$$$$$$$$$$$$$$$$b
.$$$$$$$$$$$$$$$$$$$$$$$$$beee$$$$$$$$$$beeeeeeeeeee$$$$$$$$$$$$$$$$.
4$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$P  *$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$F
*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*     ^*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$P
4$$$$$$$$$$$$$$$$$$$$$$$$$$$$"         ^$$$$$$$$$$$$$$$$$$$$$$$$$$$$F
 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*"3$$$$$$$$$$$$
 '$$$$$$$$$$$.  ^""*$$$$$$$$$$$$$$$$$$$$$$$$$$$*""    d$$$$$$$$$$$$%
  "$$$$$$$$$$$b        $$$$P           '$$$$$       z$$$$$$$$$$$$$"
   ^$$$$$$$$$$$$$c     ****%            $$$P*-   .d$$$$$$$$$$$$$$"
     *$$$$$$$$$$$$$$$e..        $$$$$        .ze$$$$$$$$$$$$$$$P
       *$$$$$$$$$$$$$$$$$$$$eecJ$$$$$.zeed$$$$$$$$$$$$$$$$$$$*
         ^*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$P"
             "*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$P"

*/

@font-face {
	font-family: "Halloween";
    src: url(./fonts/Hellow2.ttf) format("truetype"); 
}

@font-face {
	font-family: "Mystery";
    src: url(./fonts/MysteryQuest-Regular.ttf) format("truetype"); 
}

* {
    scrollbar-color: #fe9001 #282828;
    scrollbar-width: thin;
}

.skinHeader,
html {
    color: #282828;
}

.headerLeft, .headerRight {
	overflow: visible !important;
	margin-right: .5em;
	margin-left: .5em;
	margin-bottom: .5em;
}

::-moz-selection { 
	color: #ffa700;
	background: #282828;
}

::selection {
	color: #ffa700;
	background: #282828;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
	background-color: #282828;
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
	overflow: visible !important;
}

.scrollX {
	overflow: hidden;
}

.emby-tabs {
	overflow: visible !important;
}

.osdHeader {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: #282828;
	overflow: visible !important;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

html {
    background-color: #d17320 !important;
}

.backgroundContainer {
    background-color: rgba(235, 129, 40, 0.8);
}

.backgroundContainer.withBackdrop {
    background-color: rgba(235, 129, 40, 0.85);
}

.backgroundContainer.withThemeBackdrop {
    background-color: rgba(235, 129, 40, 0.8);
}

.backdropImage {
    background-color: rgb(242, 137, 45) !important;
}

.backdropImage.themeBackdrop {
	background-image: url(./bg.jpg) !important;
}

.backdropImage.themeBackdrop.alt1 {
	background-image: url(./bg-alt1.jpg) !important;
}

.backdropImage.themeBackdrop.alt2 {
	background-image: url(./bg-alt1.jpg) !important;
}

.backdropImage.themeBackdrop.alt3 {
	background-image: url(./bg.jpg) !important;
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: rgba(235, 129, 40, 1) !important;
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #282828;
}

.fab,
.raised {
	background: #282828;
    color: inherit;
}

.button-link:hover {
	color: #fff !important;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    color: inherit;
}
	
.actionsheetDivider {
    background: rgba(0, 0, 0, 0.14);
}

.formDialogHeader a,
.toast {
    color: #fff;
}

.toast,
.appfooter,
.playlistSectionButton {
    background: #282828;
    color: rgba(255, 255, 255, 0.78);
}

.nowPlayingBarSecondaryText {
    color: #999;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
}

.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: #c87912 !important;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.emby-input,
.emby-textarea {
	color: #635c54;
	font-weight: 600;
	font-style: italic;
	background-color: #d68a39;
	border: 6px ridge rgb(229, 164, 81);
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}

.emby-input::placeholder,
.emby-textarea::placeholder {
	color: #9f7019;
}

.itemProgressBar {
	height: .4em;
}

.itemProgressBarForeground {
   background: radial-gradient(#ffa700, #ce6e19);
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator,
.mediaSourceIndicator,
.indicator {
	color: #6a6344;
	background: White;
	box-shadow: 0px 2px 8px #1e1d25;
	text-shadow: 1px 1px 3px #727272;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background: #282828;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #968b5b !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(0, 0, 0, 0.54);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #968b5b;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #968b5b;
    color: #fff;
}

.infoBanner {
    color: #282828;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.buttonActive {
    color: #968b5b !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #e18829;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: #fe9001 !important;
} 
 
.metadataSidebarIcon {
    color: #968b5b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #fe9001;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #282828;
}

/* Buttons */

@keyframes focus {
	to {transform: scale(1.3);}
}

.homeLibraryButton {
	color: #282828 !important;
	background-color: rgba(242, 150, 31, 0.6) !important;
	box-shadow: 0 0 12px #8f5931;
	font-weight: 600;
}

.homeLibraryButton:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(252, 175, 75, 0.8) !important;
	box-shadow: 0 0 12px #8f5931;
}

.homeLibraryButton:focus {
	color: rgba(30, 30, 30, 0.8) !important;
	background-color: rgba(248, 208, 159, 0.8) !important;
	transform: scale(1.1) !important;
	box-shadow: 0 0 8px #7a3d10, 1px 1px 18px #944415;
}

.listItemBody {
	color: rgb(127, 67, 15);
}

.listItem-button:hover:not(:disabled) {
	color: #fff !important;
	background-color: rgba(231, 156, 39, 0.8) !important;
}

.listItem-button:focus {
	color: #fff !important;
	background-color: rgb(160, 88, 24, 0.8) !important;
}

.listItem-button:active {
	color: rgba(255, 255, 255, 0.8) !important;
}
 
 .emby-button {
	color: #e68a11;
 }
 
 .listTextButton-autohide.emby-button {
	 color: rgb(160, 88, 24, 0.8) !important;
 }
 
.dashboardActionsContainer > .emby-button,
.sectionTitleContainer > .emby-button {
	color: #fe9001;
 }
 
.emby-button:hover:not(:disabled) {
	color: #fff;
}

.emby-button.show-focus:focus > .listItem > .listItemBody {
	color: rgb(254, 180, 102) !important;
	background-color: #d5730a;
}

.emby-button:active {
	color: rgba(255, 255, 255, 0.8);
}

/* tab buttons */

.emby-tab-button {
    color: rgb(127, 74, 190);
	overflow: visible;
}

.emby-tab-button:hover:not(:disabled) {
    color: rgb(168, 121, 223);
}

.emby-tab-button-active,
.emby-tab-button-active:focus,
.emby-tab-button-active:hover:not(:disabled) {
	text-shadow: 0 0 4px #3e3a35, 0 0 6px #312f2c, 0 0 8px #b689f7, 0 0 16px #a391cd, 0 0 16px #eee2ff, 0 0 24px #caa8fc, 0 0 34px #caa8fc !important;
	color: #282828;
	transform: scale(1.3) !important;
}

/* headerButton */

@keyframes buttonfocus {
	from {transform: scale(1.0);}
	80% {transform: scale(1.4);}
	to {transform: scale(1.3);}
}

.detailButton:focus,
.headerButton:focus
 {
	background-color: rgba(231, 123, 7, 0.4);
	animation-name: buttonfocus;
	animation-duration: .10s;
	transform: scale(1.3);
}

.headerButton:hover:not(:disabled) {
	color: #efe4aa;
	background-color: rgba(133, 84, 204, 0.4);
}

.headerButton:active:not(:disabled) {
    color: #f0ed3c;
	background-color: rgba(133, 84, 204, 0.8);
}

/* Save button */

@keyframes click {
	from {transform: scale(1.2);}
	70% {transform: scale(1.4);}
	to {transform: scale(1.2);}
}

.button-submit {
	width: 50% !important;
	margin: 0 auto !important;
	transform: scale(1.0);
	color: #e68a11; !important;
	background-color: #282828;
	box-shadow: 1px 1px 8px #eb740b;
	font-weight: 600;
}

.button-submit:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
}

.button-submit:focus,
.raised:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(220, 98, 8, 0.8) !important;
}

.button-submit:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
	color: rgba(255, 255, 255, 1) !important;
}

/* detail button */

.detailButton {
	border-radius: 50%;
	margin: 4px !important;
	padding: 9px !important;
}

.detailButton:hover:not(:disabled) {
	background-color: rgba(133, 84, 204, 0.4) !important;
}

.detailButton:focus {
	transform: scale(1.3);
	background-color: rgba(255, 255, 255, 0.2) !important;
	animation-name: focus;
	animation-duration: .15s;
}
 
.detailButton:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
}

/* select widget */

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
	color: #fe9001;
}
 
.emby-select-withcolor {
    color: #fe9001;
    background: #282828;
    border: 0.07em solid rgb(0, 0, 0);
	font-weight: 600;
}

.emby-select-withcolor:focus {
	border-color: #fff;
}

.emby-select-withcolor > option {
	color: #fe9001;
	background: #282828;
}

.emby-select-tv-withcolor:focus {
    border-color: #fff;
}

select option:disabled {
	color: rgb(157, 97, 3);
}

select option:selected {
	color: #ffffff !important;
	background: #282828 !important;
}

/* slider widget */

.mdl-slider {
	background: transparent;
}

.mdl-slider-background,
.mdl-slider-background-flex  {
	box-shadow: 0 0 3px #1e1d25;
	background: #745534;
}

.mdl-slider:focus,
.mdl-slider:hover:not(:disabled) {
	background-color: rgba(255, 166, 86, 0.1);
}

.mdl-slider:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider-background-lower {
	background: linear-gradient(135deg, rgb(39, 17, 114) 0%, rgb(92, 64, 229) 100%);
}

.mdl-slider::-moz-range-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #43395b;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #43395b;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #43395b;
}

.mdl-slider:focus::-moz-range-thumb,
.mdl-slider:hover:not(:disabled)::-moz-range-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #d3bffc;
}

.mdl-slider:focus::-ms-thumb,
.mdl-slider:hover:not(:disabled)::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #d3bffc;
}

.mdl-slider:focus::-webkit-slider-thumb,
.mdl-slider:hover:not(:disabled)::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #d3bffc;
}

.mdl-slider-container {
    height: 0.83em !important;
}

.sliderBubble {
	background: rgba(255, 155, 0, 0.8);
	color: #282828;
	border-radius: 62px;
	border: 3px ridge #c46e00;
}

.sliderBubbleText {
	font-family: "Mystery";
	font-size: 170% !important;
}

/* dashboard menu */

.navMenuOption:hover:not(:disabled) {
	color: rgba(155, 155, 155, 0.8) !important;
	background-color: rgba(116, 81, 140, 0.8) !important;
}

.navMenuOption:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(81, 69, 91, 0.8) !important;
}

.navMenuOption:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.navMenuOption-selected {
    background-color: rgba(81, 69, 91, 0.8) !important;
    color: #fff;
}

/* top bar clock style */

.headerClockButton {
	padding:0px 15px;
}

.headerClockTime,
.headerClockDate {
	color: #f29300;
}

.headerClockTime {
	font-family: "Mystery";
	font-size: 170% !important;
}

.headerClockDate {
	font-size: 80% !important;
}

.nightClock > .headerClockTime,
.nightClock > .headerClockDate {
	color: #f8e5bf;
	text-shadow: 0 0 10px #fea906, 0 0 20px #fea906, 0 0 30px #fea906, 0 0 40px #fea906, 0 0 50px #fea906, 0 0 60px #fea906, 0 0 70px #fea906;
}

.headerClockButton:hover > .headerClockTime,
.headerClockButton:focus > .headerClockTime {
	font-size: 170% !important;
}

.headerClockButton:hover > .headerClockDate,
.headerClockButton:focus > .headerClockDate {
	font-size: 80% !important;
}

/* Tab About... */

.abouttab {
	color: #282828 !important;
	font-family: inherit;
	font-size: 90%;
	line-height: 1.25;
}

.aboutcontent {
	color: #ffc898;
}

.formDialogHeaderTitle,
.pageTitle {
	color: #996eb1 !important;
}

.headerButton > .material-icons.home::before {
	font-family: "Halloween";
	font-size: 100%;
	font-weight: 100;
	content: "s";
}

.material-icons {
	text-shadow: 1px 1px 4px #39392d;	
}

.material-icons,
.listItemIcon.material-icons {
	color: #282828;
}

.iconOsd > .material-icons,
.osdMediaStatus > .material-icons,
.imageEditor-buttons > * > .material-icons,
.playerStats-closeButton > .material-icons,
.headerButton > .material-icons,
.formDialogHeader > * > .material-icons,
.cardOverlayButtonIcon.material-icons,
.submit > .material-icons,
.mediaButton > .material-icons,
.selectArrowContainer > .material-icons,
.slideshowButton > .material-icons,
.slideshowBottomBar > * > .material-icons,
.buttons > * > .material-icons,
.volumeButtons > * > .material-icons,
.navMenuOption > .material-icons {
	color: #e88b13;
}

.notifications.material-icons {
	background-color: #ffb43e !important;
	color: #282828;
}

.starIcon {
    color: #741ef2 !important
}

.playstatebutton-icon-played {
    color: #62976a !important;
}

.detailRibbon {
    background-color: #ffa03b;
    color: rgba(255, 255, 255, 0.87);
}

.layout-tv .detailRibbon {
    background: none;
}

.mediaInfoItem {
	color: #282828 !important;	
}

.itemName {
	color: #282828 !important;
	text-shadow: 3px 3px 6px #6e3f0c;
	overflow: visible;
}

.layout-tv .itemName {
	color: #282828 !important;
	text-shadow: 3px 3px 6px #844017;
	overflow: visible;
}

.formDialogHeader:not(.formDialogHeader-clear) {
	background-color: #282828;
    color: #8b877f;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.cardText-secondary,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
	color: #ffc898;
	font-size: 85%;
}

.skinHeader.osdHeader {
	background: linear-gradient(90deg, rgba(40, 40, 40, 0.85), rgba(40, 40, 40, 0.55));
	height: 4.5em;
	transition: opacity .6s ease-out;
	color: #fe9001;
}
 
.emby-input:focus,
.emby-textarea:focus {
	border-color: rgb(253, 142, 0);	
}

.jstree-default .jstree-wholerow-clicked {
    background: #edeabc !important;
}

.button-accent-flat {
	color: #4f4c41 !important;
	text-shadow: 1px 1px 15px #8c8c8c !important;
	overflow: visible !important;
}

.material-icons.favorite::before {
    content: "\e87e";
}

.material-icons.favorite.ratingbutton-icon-withrating::before {
	content: "\e87d";
}

.ratingbutton-icon-withrating {
    color: #913079 !important;
}

.sectionTitle {
	color : #282828;
	text-shadow: 1px 1px 3px #a25c0f;
	font-weight: 600;
}

.cardOverlayContainer {
	background: rgba(42, 42, 42, 0.8);
}

.navMenuOptionText {
	color: #fe9001;
}

.sidebarHeader {
	color: #8b877f;
}

.listItemAside {
	color: #edeceb;
}

.listItemIcon:not(.listItemIcon-transparent) {
	background-color: #ffb43e;
}

/* fix for TV Layout */

.layout-tv .detailPageWrapperContainer {
	margin-top: 2%;
}

/* upNext dialog box */

.upNextContainer {
	background: #fe9001;
	color:	#282828;
	width: auto;
	overflow: hidden;
	margin: 0 0 0 0;
	position: fixed;
	bottom: 3%;
	right: 1%;
	will-change: unset;
}

.upNextDialog-countdownText {
	color: #fff;
}

.upNextDialog-button:focus {
	transform: scale(1.1) !important;
	color: #fff !important;
	background: #fe9001 !important;
}

legend {
	text-shadow: 2px 2px 4px #63390b;
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	color: #d4c6b9;
}

div[data-role="controlgroup"] a.ui-btn-active {
	background: #d56f1a !important;
	color: #fff !important;
	font-weight: 600 !important;
}

.formDialogFooter:not(.formDialogFooter-clear) {
	background: rgba(235, 129, 40, 1) !important;
}

.lnkEditSubProfile {
	color:#fff !important;
}

.nameContainer {
    overflow: hidden;
}

.visualCardBox {
	background: #e18829;
}

/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0);}
	to {transform: scale(1.8);}
}

.checkboxIcon-checked {
	color: #ffa700 !important;
	padding-left: .2em;
	padding-bottom: .2em;
	transform: scale(1.8);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.78);
	border: .2em solid rgb(93, 62, 15);
	border-radius: 100%;
}

.emby-checkbox + span + .checkboxOutline {
    border-color: #ffa700;
}

.emby-checkbox:checked + span + .checkboxOutline {
	background-color: rgb(157, 97, 3);
}

.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline,
.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline > .checkboxIcon-checked,
.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:focus + span + .checkboxOutline > .checkboxIcon-checked {
	border-color: #d3bffc !important;
	color: #d3bffc !important;
}

/* Pseudo radio widget (a radio button that allows unselects) */
/* based on the checkbox widget */

.radio > .checkboxLabel,
.radio + .fieldDescription {
	margin-bottom: .3em !important;
	margin-left: -.3em !important;
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	color: #43395b !important;
	font-size: 170%;
	text-shadow: 1px 2px 3px #1e1d25;
}

.radio.emby-checkbox + span + .checkboxOutline {
	border: none !important;
}

.radio.emby-checkbox:checked + span + .checkboxOutline {
	background-color: rgb(157, 97, 3);
}

.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-checked,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-unchecked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-checked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-unchecked {
	color: #d3bffc !important;
}
 
.headerTop {
    padding: .54em 0em 0em 0em !important;
}

.withTabs .content-primary {
    margin-top: 1.5em !important;
}

.libraryPage {
	padding-top: 5em !important;
}

.headerUserButtonRound {
	border: 1px solid rgb(229, 164, 81);
}

.userProfileImage {
	border: 6px ridge rgb(229, 164, 81);
}

 .radioButtonLabel,
 .emby-collapsible-button {
	color: rgb(127, 67, 15) !important;
	font-size: .9em !important;
 }
 
 .collapseContent {
	color: rgb(127, 67, 15) !important;
	background-color: #dc6a06 !important; 
 }
 
 .iconOsdProgressInner {
		background: rgb(126, 66, 216);
}

option.sourceDictionaryOption {
	color: #fff;
}

/* disabled slider */

.sliderContainer-settings.disabled > .sliderLabel {
	color: #b67632;
}

.sliderContainer-settings.disabled  .mdl-slider-background, 
.sliderContainer-settings.disabled  .mdl-slider-background-flex {
	box-shadow: none;
	background: #ba6e1e;
}


.sliderContainer-settings.disabled .fieldDescription,
.sliderContainer-settings.disabled .sliderBubble {
	color: #454d59;
	visibility: hidden;
}

.sliderContainer-settings.disabled .mdl-slider-background-lower {
	background: none;
}

.sliderContainer-settings.disabled .mdl-slider
{
	visibility: hidden;
}

fieldset {
	padding: 1.5em 2em 0 2em;
	margin: 0 0 2em 0;
	border: 4px groove #eb9d58 !important;
}

.fieldDescription {
	color: #efcc95;
	font-style: italic;
	font-size: 85%;
}

.LangDetailsHeader {
	color: #202020;
	font-size: 100%;
	font-weight: 600;
	font-style: normal;
}

.material-icons.warningIcon,
.material-icons.hubIcon,
.material-icons.doneIcon {
	color: #ffa700 !important;
}

.inputLabel,
.checkboxLabel,
.selectLabel,
.inputLabelUnfocused,
.sliderLabel,
.paperListLabel,
.textareaLabelUnfocused {
    color: #202020;
}

.button-link,
.checkboxLabelFocused,
.selectLabelFocused,
.inputLabelFocused,
.sliderLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #ffc579 !important;
}
