<form style="margin: 0 auto;">
    <div class="verticalSection">
        <h2 class="sectionTitle">
            ${HeaderAudioSettings}
        </h2>

        <div class="selectContainer">
            <select is="emby-select" id="selectAllowedAudioChannels" label="${LabelAllowedAudioChannels}">
                <option value="-1">${Auto}</option>
				<option disabled>${OptionDivider}</option>
				<option value="8">7.1 ${LabelSelectAudioChannels}</option>
				<option value="6">5.1 ${LabelSelectAudioChannels}</option>
				<option value="2">${LabelSelectStereo}</option>
				<option value="1">${LabelSelectMono}</option>
            </select>
        </div>

        <div class="selectContainer">
            <select is="emby-select" id="selectAudioLanguage" label="${LabelAudioLanguagePreference}">
				<option value="">${Default}</option>
				<option disabled>${OptionDivider}</option>
			</select>
        </div>
		
		<div class="checkboxContainer checkboxContainer-withDescription">
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkRememberAudioSelections" />
                <span>${RememberAudioSelections}</span>
            </label>
            <div class="fieldDescription checkboxFieldDescription">${RememberAudioSelectionsHelp}</div>
        </div>
		
		<div class="checkboxContainer checkboxContainer-withDescription">
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkMuteButton" />
                <span>${MuteButton}</span>
            </label>
            <div class="fieldDescription checkboxFieldDescription">${MuteButtonHelp}</div>
        </div>
    </div>

    <div class="qualitySections hide">
        <div class="verticalSection videoQualitySection hide">
            <h2 class="sectionTitle">
                ${HeaderVideoQuality}
            </h2>

            <div class="selectContainer fldVideoInNetworkQuality hide">
                <select is="emby-select" id="selectVideoInNetworkQuality" class="selectVideoInNetworkQuality" label="${LabelHomeNetworkQuality}">
					<option value="">${Auto}</option>
					<option disabled>${OptionDivider}</option>
				</select>
            </div>

            <div class="selectContainer fldVideoInternetQuality hide">
                <select is="emby-select" id="selectVideoInternetQuality" class="selectVideoInternetQuality" label="${LabelInternetQuality}">
					<option value="">${Auto}</option>
					<option disabled>${OptionDivider}</option>
				</select>
            </div>

            <div class="selectContainer fldChromecastQuality hide">
                <select is="emby-select" id="selectChromecastVideoQuality" class="selectChromecastVideoQuality" label="${LabelMaxChromecastBitrate}">
					<option value="">${Auto}</option>
					<option disabled>${OptionDivider}</option>
				</select>
            </div>
			
			<div class="selectContainer">
				<select is="emby-select" class="selectLabelMaxVideoWidth" label="${LabelMaxVideoResolution}">
					<option value="0">${Auto}</option>
					<option value="-1">${ScreenResolution}</option>
					<option disabled>${OptionDivider}</option>
					<option value="7680">8K</option>
					<option value="3840">4K</option>
					<option value="1920">1080p</option>
					<option value="1280">720p</option>
					<option value="852">480p</option>
					<option value="640">360p</option>
				</select>
			</div>
        </div>
		
        <div class="verticalSection musicQualitySection hide">
            <h2 class="sectionTitle">
                ${HeaderMusicQuality}
            </h2>

            <div class="selectContainer">
                <select is="emby-select" id="selectMusicInternetQuality" class="selectMusicInternetQuality" label="${LabelInternetQuality}">
					<option value="">${Auto}</option>
					<option disabled>${OptionDivider}</option>
				</select>
            </div>
        </div>
    </div>

    <div class="verticalSection">
        <h2 class="sectionTitle">
            ${TabAdvanced}
        </h2>

        <div class="checkboxContainer checkboxContainer-withDescription">
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkPreferFmp4HlsContainer" />
                <span>${PreferFmp4HlsContainer}</span>
            </label>
            <div class="fieldDescription checkboxFieldDescription">${PreferFmp4HlsContainerHelp}</div>
        </div>

		<fieldset style="padding: 1.5em 2em 0 2em;margin: 0 0 2em 0;border: 1px solid #000;">
		
			<div class="checkboxContainer fldEpisodeAutoPlay hide">
				<label class="radio">
					<input type="checkbox" is="emby-checkbox" class="chkEpisodeAutoPlay radio" />
					<span>${PlayNextEpisodeAutomatically}</span>
				</label>
			</div>

			<div class="checkboxContainer checkboxContainer-withDescription fldEnableNextVideoOverlay hide">
				<label class="radio">
					<input type="checkbox" is="emby-checkbox" class="chkEnableNextVideoOverlay radio" />
					<span>${EnableNextVideoInfoOverlay}</span>
				</label>
				<div class="fieldDescription checkboxFieldDescription">${EnableNextVideoInfoOverlayHelp}</div>
			</div>
			
		</fieldset>
		
        <div class="checkboxContainer fldExternalPlayer checkboxContainer-withDescription hide">
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkExternalVideoPlayer" />
                <span>${EnableExternalVideoPlayers}</span>
            </label>
            <div class="fieldDescription checkboxFieldDescription">
                <div class="labelNativeExternalPlayers">${EnableExternalVideoPlayersHelp}</div>
            </div>
        </div>

        <div class="selectContainer">
            <select is="emby-select" id="selectChromecastVersion" class="selectChromecastVersion" label="${LabelChromecastVersion}">
                <option value="stable">${LabelStable}</option>
                <option value="unstable">${LabelUnstable}</option>
            </select>
        </div>
		
		<div class="BackNForwardArea" style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>

			<div class="sliderContainer-settings" style="width: 47%;height: auto;">
				<div class="sliderContainer">
					<input is="emby-slider" id="sliderSkipBackLength" label="${LabelSkipBackLength}" type="range" min="5" max="60" step="5"/>
				</div>
				<div class="fieldDescription" style="float:right"></div>
			</div>
			
			<div class="sliderContainer-settings" style="width: 47%;height: auto;">
				<div class="sliderContainer">
					<input is="emby-slider" id="sliderSkipForwardLength" label="${LabelSkipForwardLength}" type="range" min="5" max="60" step="5"/>
				</div>
				<div class="fieldDescription" style="float:right"></div>
			</div>	
			
		</div>
    </div>

    <button is="emby-button" type="submit" class="raised button-submit block btnSave hide">
        <span>${Save}</span>
    </button>
</form>
