
* {
    scrollbar-color: #ffffff #d5d5d5;
    scrollbar-width: thin;
}

.skinHeader,
html {
    color: #222;
    color: rgba(0, 0, 0, 0.87);
}

::-moz-selection { 
	color: #3c3c3c;
	background: #f4f4b5;
}

::selection {
	color: #3c3c3c;
	background: #f4f4b5;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
	background-color: #edece8;
    color: #ccc;
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.osdHeader {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(220, 220, 220, 0.8);
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-dark.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

.backgroundContainer,
html {
    background-color: #f2f2f2;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(255, 255, 255, 0.8);
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: #f0f0f0;
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #000;
}

.fab,
.raised {
    background: #f0f1e9;
    color: inherit;
}

.fab:focus,
.raised:focus {
    background-color: rgba(230, 219, 76, 0.4);
	color: rgba(255, 232, 232, 0.8);
}

.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #555;
}

.button-link,
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: rgba(230, 219, 76, 0.85);
}

.paperList,
.visualCardBox {
    background-color: #fff;
}

.defaultCardBackground1 {
    background-color: #009688;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    color: inherit;
}
	
.actionsheetDivider {
    background: #ddd;
    background: rgba(0, 0, 0, 0.14);
}

.cardText-secondary {
    color: inherit;
    opacity: 0.5;
}

.formDialogHeader a,
.toast {
    color: #fff;
}

.actionSheetMenuItem:hover {
    background-color: #ddd;
}

.toast {
    background: #303030;
    color: rgba(255, 255, 255, 0.87);
}

.appfooter,
.playlistSectionButton {
    background: #282828;
    color: #ccc;
    color: rgba(255, 255, 255, 0.78);
}

.nowPlayingBarSecondaryText {
    color: #999;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
    color: #555;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
}

.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: #a7a7a7 !important;
}

.listItem:focus {
    background: #ddd;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: #fff;
    border: 0.16em solid rgba(0, 0, 0, 0.158);
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.itemProgressBarForeground {
    background-color: #e2dec6;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator,
.mediaSourceIndicator,
.indicator {
	color: #6a6344;
	background: White;
	box-shadow: 0px 2px 8px #1e1d25;
	text-shadow: 1px 1px 3px #727272;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background: #fff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #968b5b !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(0, 0, 0, 0.54);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #968b5b;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #968b5b;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.ratingbutton-icon-withrating {
    color: #c33;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #968b5b !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #fff;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: rgba(255, 255, 255, 0.8) !important;
}

.metadataSidebarIcon {
    color: #968b5b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #083b6b;
}


/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0);}
	to {transform: scale(1.8);}
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.7);
	border: 3px solid rgba(230, 219, 76, 0.8);
	border-radius: 100%;
}

.emby-checkbox + span + .checkboxOutline {
    border-color: rgba(153, 149, 133, 0.8);
}

.emby-checkbox:checked + span + .checkboxOutline {
	border-color: rgba(230, 219, 76, 0.8);
}

.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline {
	background-color: rgba(230, 219, 76, 0.4);
}

.checkboxIcon-checked {
	padding-left: 5px;
	padding-bottom: 6px;
	transform: scale(1.8);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

/* Buttons */

@keyframes focus {
	from {transform: scale(1);}
	to {transform: scale(1.3);}
}

.homeLibraryButton {
	color: rgba(30, 30, 30, 0.8) !important;
	background-color: rgba(200,200,200,0.4);
	box-shadow: 1px 1px 8px #a6a6a0;
	font-weight: 500;
}

.homeLibraryButton:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(230,230,230,0.8) !important;
}

.homeLibraryButton:focus {
	color: rgba(30, 30, 30, 0.8) !important;
	background-color: rgba(250,250,250,0.8) !important;
	transform: scale(1.1) !important;
}

.listItem-button:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	 background-color: rgba(230, 230, 230, 0.8);
}

.listItem-button:focus {
	color: rgba(255, 255, 255, 0.8) !important;
}

.listItem-button:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.emby-button:hover:not(:disabled) {
	color: rgba(230, 219, 76, 0.4);
}

.emby-button:focus {
	color: rgba(230, 219, 76, 0.4);
}

.emby-button:active {
	color: rgba(255, 255, 255, 0.8);
}

/* tab buttons */

.emby-tab-button {
	text-shadow: 3px 3px 6px #6c6c6c;
    color: rgba(255, 255, 255, 0.6);
	transform: scale(1.0);
}

.emby-tab-button:hover:not(:disabled) {
    color: rgba(230, 219, 76, 0.8);
}

.emby-tab-button-active,
.emby-tab-button-active:focus,
.emby-tab-button-active:hover:not(:disabled) {
    color: rgba(255, 255, 255, 0.8) !important;
	transform: scale(1.3) !important;
}

/* header buttons */

.headerButton:focus {
    background-color: rgba(230, 219, 76, 0.4);
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.headerButton:hover:not(:disabled) {
	color: #efe4aa;
	background-color: rgba(230, 219, 76, 0.4);
}

.headerButton:active:not(:disabled) {
    color: #f0ed3c;
	background-color: rgba(255, 232, 232, 0.8);
}

/* Save button */

@keyframes click {
	from {transform: scale(1.2);}
	70% {transform: scale(1.4);}
	to {transform: scale(1.2);}
}

.button-submit {
	border: 3px ridge #968b5b;
	box-shadow: 1px 1px 8px #55554f;
	background-color: rgba(200,200,200,0.4);
	color: rgba(30, 30, 30, 0.8) !important;
	border-color: rgba(153, 149, 133, 0.8);
	width: 50% !important;
	margin:0 auto !important;
	transform: scale(1.0);
}

.button-submit:hover:not(:disabled) {
	color: rgba(200, 200, 200, 0.8) !important;
	background-color: rgba(230,230,230,0.8) !important;
	transform: scale(1.2);
}

.button-submit:focus {
	color: rgba(200, 200, 200, 0.8) !important;
	background-color: rgba(250,250,250,0.8) !important;
	transform: scale(1.2);
}

.button-submit:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
	color: rgba(255, 255, 255, 1) !important;
	animation-name: click;
	animation-duration: .15s;
}

/* detail button */

.detailButton {
	border-radius: 50%;
	border: 0;
}

.detailButton:hover:not(:disabled) {
	background-color: rgba(230, 219, 76, 0.4);
}

.detailButton:focus {
	background-color: rgba(230, 219, 76, 0.4);
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.detailButton:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
}

/* select widget */

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
}

.emby-select-withcolor {
    color: inherit;
    background: #fff;
    border: 0.07em solid rgba(0, 0, 0, 0.158);
}

.emby-select-withcolor:focus {
	border-color: rgba(230, 219, 76, 0.8);
}

.emby-select-withcolor > option {
	color: #999585;
	background: #fff;
}

.emby-select-tv-withcolor:focus {
    border-color: rgba(230, 219, 76, 0.8);
    color: #fff;
}

select option:disabled {
	color: rgb(186, 171, 66);
}

select option:selected {
	color: #ffffff !important;
	background: #898989 !important;
}

/* slider widget */

.mdl-slider {
	background: transparent;
}

.mdl-slider-background,
.mdl-slider-background-flex  {
	box-shadow: 1px 2px 8px #1e1d25;
}

.mdl-slider:focus,
.mdl-slider:hover:not(:disabled) {
	background-color: rgba(230, 219, 76, 0.1);
}

.mdl-slider:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider-background-lower  {
	background: linear-gradient(135deg, rgb(193, 143, 25) 0%, rgb(255, 235, 129) 50%, rgb(193, 143, 25) 100%);
}

.mdl-slider::-moz-range-thumb
 {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #ece4a5;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #ece4a5;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #ece4a5;
}

.mdl-slider-container {
    height: 0.83em !important;
}

.sliderBubble {
	background: #f6f6f6;
	color: black;
	border-radius: 62px;
	border: 1px solid #cfcfcf;
}

/* dashboard menu */

.navMenuOption:hover:not(:disabled) {
	color: rgba(155, 155, 155, 0.8) !important;
	background-color: rgba(240, 240, 240, 0.8) !important;
}

.navMenuOption:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.navMenuOption:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.navMenuOption-selected {
    background-color: rgba(180, 180, 180, 0.8) !important;
    color: #fff;
}

/* top bar clock */

.headerClockTime,
.headerClockDate {
	color: #fff !important;
	text-shadow: 0px 0px 11px #000;
}

.pageTitle {
	color: White !important;	
	text-shadow: 3px 3px 6px #171716;
}

.material-icons {
	color: White !important;
	text-shadow: 1px 1px 8px #696955;
}

.detailRibbon {
    background-color: White;
    color: rgba(255, 255, 255, 0.87);
}

.layout-tv .detailRibbon {
    background: none;
}

.mediaInfoItem {
	color: #313030 !important;	
}

.itemName {
	color: White !important;	
	text-shadow: 3px 3px 6px #171716;
}

.formDialogHeader:not(.formDialogHeader-clear) {
	background-color: #edece8;
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.cardText-secondary,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
	color: #959287;
	font-size: 85%;
	overflow: visible;
}

.skinHeader.osdHeader {
	background: linear-gradient(180deg,hsla(0, 0.4%, 86.5%, 0.85),hsla(0, 0.4%, 0%, 0.05));
	height: 6.5em;
	transition: opacity .6s ease-out;
}

.emby-input:focus,
.emby-textarea:focus {
	border-color: rgba(230, 219, 76, 0.8);	
}

.jstree-default .jstree-wholerow-clicked {
    background: #edeabc !important;
}

.button-accent-flat {
	color: #4f4c41 !important;
	text-shadow: 1px 1px 15px #8c8c8c !important;
	overflow: visible !important;
}

.fieldDescription {
	color: #999585;
	font-style: italic;
	font-size: 85%;
}