
* {
    scrollbar-color: #ffffff #d5d5d5;
    scrollbar-width: thin;
}

.skinHeader,
html {
   color: rgb(161, 174, 181);
}

.headerLeft, .headerRight {
	overflow: visible;
}

::-moz-selection { 
	color: #fff;
	background: #a1c6be;
}

::selection {
	color: #fff;
	background: #a1c6be;

}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}


.skinHeader-withBackground {
	background: linear-gradient(to right, #fff 0%, #d3dcdc 18%, #d2dae1 38%, #cfd9d9 68%, #eef5f8 81%, #d2d9da 100%);
    color: #fff;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.osdHeader {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(220, 220, 220, 0.8);
}

.layout-tv .skinHeader.semiTransparent {
   background-color: #e3e3e3;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-dark.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

.backgroundContainer,
html {
    background-color: #f2f2f2;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.backgroundContainer.withThemeBackdrop {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: #f0f0f0;
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #000;
}

.fab,
.raised {
	background: #cacbc3;
	color: #8a9aa2;
}

.fab:focus,
.raised:focus {
    background-color: rgba(230, 219, 76, 0.4);
	color: rgba(255, 232, 232, 0.8);
}

.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #555;
}

.button-link,
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: rgb(94, 184, 179);
	background: transparent !important;
}

.button-link:hover {
	color: rgb(71, 242, 233);
}

.paperList,
.visualCardBox {
    background-color: #fff;
}

.defaultCardBackground1 {
    background-color: #009688;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #f0f0f0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    color: inherit;
}
	
.actionsheetDivider {
    background: rgba(0, 0, 0, 0.14);
}

.formDialogHeader a {
    color: #fff;
}

.actionSheetMenuItem:hover {
    background-color: #ddd;
}

.toast {
    background: #fff;
    color: #999;
}

.appfooter,
.playlistSectionButton {
    background: #282828;
    color: rgba(255, 255, 255, 0.78);
}

.nowPlayingBarSecondaryText {
    color: #999;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
}

.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: #a7a7a7 !important;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.emby-input,
.emby-textarea {
	color: #93b7b7;
	background: #fff;
	border: 6px ridge #b9d4de;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}

.emby-input:focus,
.emby-textarea:focus {
	border-color: rgba(255, 255, 255, 0.8);	
}

.itemProgressBarForeground {
    background-color: #e2dec6;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator,
.mediaSourceIndicator,
.indicator {
	color: #6a6344;
	background: White;
	box-shadow: 0px 2px 8px #1e1d25;
	text-shadow: 1px 1px 3px #727272;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background: #fff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #968b5b !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: rgba(0, 0, 0, 0.54);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #968b5b;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #968b5b;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.buttonActive {
    color: #968b5b !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #fff;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: rgba(255, 255, 255, 0.8) !important;
}

.metadataSidebarIcon {
    color: #968b5b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #083b6b;
}


/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0);}
	to {transform: scale(1.8);}
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.7);
	border: 3px solid rgba(158, 201, 193, 0.8);
	border-radius: 100%;
}

.emby-checkbox + span + .checkboxOutline {
    border-color: rgba(153, 149, 133, 0.8);
}

.emby-checkbox:checked + span + .checkboxOutline {
	background-color: rgba(158, 201, 193, 0.8);
	border-color: rgba(153, 149, 133, 0.8);
}

.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline {
	border-color: rgba(158, 201, 193, 0.8);
}

.checkboxIcon-checked {
	padding-left: 5px;
	padding-bottom: 6px;
	transform: scale(1.8);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

/* Buttons */

@keyframes focus {
	from {transform: scale(1);}
	to {transform: scale(1.3);}
}

.homeLibraryText {
	overflow: visible;
}

.homeLibraryButton {
	background-color: rgba(200, 200, 200,0.4);
	box-shadow: 1px 1px 8px #4c636c;
	color: rgba(90, 105, 108, 0.8) !important;
	font-weight: 400;
	text-shadow: 3px 3px 6px #9cb8bf;
	overflow: visible !important;
}

.homeLibraryButton:hover:not(:disabled) {
	color: #fff !important;
	background-color: rgb(230, 230, 230, 1) !important;
}

.homeLibraryButton:focus {
	color: #aaa !important;
	background-color: #fff !important;
	transform: scale(1.1) !important;
}

.listItemBody {
	color: rgba(116, 142, 147, 0.8);
}

.listItemBody:hover:not(:disabled),
.listItem-button:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: inherit;
}

.listItem-button:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.listItem-button:active {
	color: rgba(255, 255, 255, 0.8) !important;
}
 
.emby-button:hover:not(:disabled) {
	background: #eaeff1;
	color: #b2ebe7;
}

.emby-button.show-focus:focus > .listItem > .listItemBody {
	color: #fff !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.emby-button:active {
	color: rgba(255, 255, 255, 0.8);
}

/* tab buttons */

.emby-tab-button {
    color: rgba(255, 255, 255, 0.6);
	transform: scale(1.0);
}

.emby-tab-button:hover:not(:disabled) {
    color: rgb(152, 182, 175);
	background: transparent !important;
}

.emby-tab-button-active,
.emby-tab-button-active:focus,
.emby-tab-button-active:hover:not(:disabled) {
	text-shadow: 2px 2px 4px #317178 !important;
	color: rgba(255, 255, 255, 0.8) !important;
	transform: scale(1.5) !important; 
}

/* headerButton */

.headerButton:focus {
	color: #106767 !important;
	background-color: #f5f7f8;
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.headerButton:hover:not(:disabled) {
	color: #efe4aa;
	background-color: #f5f7f8;
}

.headerButton:active:not(:disabled) {
    color: #106767;
}

/* Save button */

@keyframes click {
	from {transform: scale(1.2);}
	70% {transform: scale(1.4);}
	to {transform: scale(1.2);}
}

.button-submit {
	width: 50% !important;
	margin: 0 auto !important;
	transform: scale(1.0);
	color: rgba(118, 149, 150, 0.8) !important;
	background-color: rgba(200,200,200,0.4);
	box-shadow: 3px 3px 6px #a3acaf;
	font-weight: 500;
}

.button-submit:hover:not(:disabled) {
	color: #fff !important;
	background-color: rgba(230,230,230,0.8) !important;
	transform: scale(1.2);
}

.button-submit:focus {
	color: #fff !important;
	background-color: rgba(230,230,230,0.8) !important;
	transform: scale(1.2);
}

.button-submit:active {
	background-color: #fff !important;
	color: #fff !important;
	animation-name: click;
	animation-duration: .15s;
	transform: scale(1.2);
}

/* detail button */

.detailButton {
	border-radius: 50%;
	margin: 5px !important;
	padding: 8px !important;
}

.detailButton:hover:not(:disabled) {
	background-color: #f5f7f8;
}

.detailButton:focus {
	background-color: #f5f7f8;
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.detailButton:active {
	background-color: #f5f7f8; !important;
}

/* select widget */

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
}

.emby-select-withcolor {
	color: inherit;
	background: #ebf0f2;
	border: 0.07em solid rgba(0, 0, 0, 0.158);
}

.emby-select-withcolor:focus {
	border-color: rgba(230, 230, 255, 1);
}

.emby-select-withcolor > option {
	color: #999585;
	background: #ebf0f2;
}

.emby-select-tv-withcolor:focus {
	border-color: rgba(230, 230, 255, 1);
    color: #fff;
}

select option:disabled {
	color: rgb(186, 171, 66);
}

select option:selected {
	color: #ffffff !important;
	background: #898989 !important;
}

/* slider widget */

.mdl-slider {
	background: transparent;
}

.mdl-slider-background,
.mdl-slider-background-flex  {
	box-shadow: 1px 2px 8px #1e1d25;
	background: #7c8e90;
}

.mdl-slider:focus,
.mdl-slider:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider-background-lower  {
	background: linear-gradient(135deg, rgb(82, 108, 108) 0%, rgb(188, 207, 209) 50%, rgb(255, 255, 255) 100%);
}

.mdl-slider::-moz-range-thumb
 {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #fff;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #fff;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #fff;
}

.mdl-slider-container {
    height: 0.83em !important;
}

.sliderBubble {
	background: #f6f6f6;
	color: #738492;
	border-radius: 62px;
	border: 3px solid #cfcfcf;
}

/* dashboard menu */

.navMenuOption:hover:not(:disabled) {
	color: rgba(155, 155, 155, 0.8) !important;
	background-color: rgba(240, 240, 240, 0.8) !important;
}

.navMenuOption:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.navMenuOption:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.navMenuOption-selected {
    background-color: rgba(180, 180, 180, 0.8) !important;
    color: #fff;
}

/* top bar clock style */

.headerClockButton {
	padding:0px 15px;
}

.headerClockTime,
.headerClockDate {
	color: #8caea9;
}

.headerClockTime {
	font-size: 140% !important;
}

.headerClockDate {
	font-size: 90% !important;
}

.nightClock > .headerClockTime,
.nightClock > .headerClockDate {
	text-shadow: 0 0 10px #cffaf2, 0 0 20px #cffaf2, 0 0 30px #cffaf2, 0 0 40px #cffaf2, 0 0 50px #cffaf2, 0 0 60px #cffaf2, 0 0 70px #cffaf2;
	background-color: transparent;
	color: #9ec7c9;
}

.headerClockButton:hover > .headerClockTime,
.headerClockButton:focus > .headerClockTime {
	font-size: 140% !important;
}

.headerClockButton:hover > .headerClockDate,
.headerClockButton:focus > .headerClockDate {
	font-size: 90% !important;
}

.formDialogHeaderTitle,
.pageTitle {
	color: #fff !important;
	text-shadow: 2px 2px 6px #666e6d;
}

.material-icons {
	color: White;
	text-shadow: 1px 1px 4px #287d81;
}

.starIcon {
    color: #f2b01e !important;
}

.playstatebutton-icon-played {
    color: #62976a !important;
}

.detailRibbon {
    background-color: #e8f1f1;
    color: rgba(255, 255, 255, 0.87);
}

.layout-tv .detailRibbon {
    background: none;
}

.mediaInfoItem {
	color: #313030 !important;	
}

.itemName {
	color: #74a5b0 !important;
	text-shadow: 3px 3px 6px #82a1a1;
	overflow: visible;
}

.formDialogHeader:not(.formDialogHeader-clear) {
	background-color: #edece8;
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.cardText-secondary,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
	color: #b1cdcd;
	font-size: 85%;
}

.skinHeader.osdHeader {
	background: linear-gradient(180deg,hsla(60, 3.5%, 39.4%, 0.85),hsla(0, 0%, 0%, 0.05));
	height: 6.5em;
	transition: opacity .6s ease-out;
}

.jstree-default .jstree-wholerow-clicked {
    background: #edeabc !important;
}

.button-accent-flat {
	color: #4f4c41 !important;
	text-shadow: 1px 1px 15px #8c8c8c !important;
	overflow: visible !important;
}

.fieldDescription {
	color: #999585;
	font-style: italic;
	font-size: 85%;
}

.material-icons.favorite::before {
    content: "\e87e";
}

.material-icons.favorite.ratingbutton-icon-withrating::before {
	content: "\e87d";
}

.ratingbutton-icon-withrating {
    color: #913079 !important;
}

.backdropImage {
    background-color: rgb(220, 220, 220) !important;
}

.backdropImage.themeBackdrop {
	background-image: url(./bg.jpg) !important;
}

/* fix for TV Layout */

.layout-tv .detailPageWrapperContainer {
	margin-top: 2%;
}

legend {
	text-shadow: 2px 2px 4px #63390b;
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	color: #d4c6b9;
}

div[data-role="controlgroup"] a.ui-btn-active {
	background: #d56f1a !important;
	color: #fff !important;
	font-weight: 600 !important;
}

.formDialogFooter:not(.formDialogFooter-clear) {
	background: rgba(235, 129, 40, 1) !important;
}

.lnkEditSubProfile {
	color:#fff !important;
}

.nameContainer {
    overflow: hidden;
}

.visualCardBox {
	background: #e18829;
}

.sectionTitle {
	color: #e6f7f7;
	text-shadow: 3px 3px 6px #516465;
}

.abouttab {
	font-weight: 400;
	font-size: 90%;
}

/* upNext dialog box */

.upNextContainer {
	background: #eceff1;
	color: #a9b8bc;
	width: auto;
	overflow: hidden;
	margin: 0 0 0 0;
	position: fixed;
	bottom: 3%;
	right: 1%;
	will-change: unset;
}

.upNextDialog-countdownText {
	color: #11a5c7;
}

.upNextDialog-button {
	background: #e0e6e6;
}

.upNextDialog-button:focus {
	transform: scale(1.1) !important;
	color: #fff !important;
	background: #b1d0e3 !important;
}

legend {
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	text-shadow: 2px 2px 4px #555d5f;
	color: #fbfdff;
}

fieldset {
	padding: 1.5em 2em 0 2em;
	margin: 0 0 2em 0;
	border: 3px solid #e5e9eb;
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	color: #abb2ba !important;
}

.radio.emby-checkbox:checked + span + .checkboxOutline {
	background-color: rgba(158, 201, 193, 0.8);
}

.radio.emby-checkbox:focus + span + .checkboxOutline,
.radio.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline {
	border-color: rgba(158, 201, 193, 0.8) !important;
}

option.sourceDictionaryOption {
	color: #fff;
}

