
@keyframes _dc_fmtin {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes _dc_fmtout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.headerClockButton {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	height: 3.2rem;
	margin: 0 .4rem !important;
}

.headerClock.moveLeftButton,
.headerClock.moveRightButton {
	padding: 0;
	margin: 0;
}

.headerClockMain {
	display: flex;
	flex-direction: column;
	font-size: 100%;
	align-content: center;
	white-space: nowrap;
	height: auto;
	align-items: center;
	border: solid 0px;
	outline: none;
	background-color: transparent;
	color: #fff;
	padding: 0;
	margin: 0 .3em;
	height: 6.4rem;
	justify-content: center;
}

._dc_ {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 3.2rem;
	min-width: 7rem;
	width: auto;
}

._dc_1 {
}

._dc_2 {
	position: relative;
	top: -3.2rem;
}

._dc_next {
	animation-name: _dc_fmtout;
	animation-duration: .6s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

._dc_current {
	animation-name: _dc_fmtin;
	animation-duration: .4s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.headerClockDate {
	font-size: 70%;
}

.headerClockTime {
	font-size: 140%;
}

.clockFmt5 .headerClockDate,
.clockFmt6 .headerClockDate,
.clockFmt7 .headerClockDate,
.clockFmt8 .headerClockDate {
	display: none;
}

.clockFmt5 .headerClockTime {
	font-size: 140%;
}

.clockFmt6 .headerClockTime {
	font-size: 170%;
}

.clockFmt7 .headerClockTime {
	font-size: 200%;
}

.clockFmt8 .headerClockTime {
	font-size: 230%;
}

.material-icons.arrow_right::before {
	[dir="ltr"] & {
		content: "\e5df";
	}
	[dir="rtl"] & {
		content: "\e5de";
	}
}

.material-icons.arrow_left::before {
	[dir="ltr"] & {
		content: "\e5de";
	}
	[dir="rtl"] & {
		content: "\e5df";
	}
}
