
@keyframes _wb_fmtin {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes _wb_fmtin_b {
	0% {opacity: 0;}
	100% {opacity: .65;}
}

@keyframes _wb_fmtout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes _timerowgrow {
	0% {	
		transform: scale(1);
		opacity:1;
	}
	100% {transform: scale(1.2) translate(0, .2rem);}
}

@keyframes _timerowshrink {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.7) translate(0, -.15rem);
		opacity: .5;
	}
}

#headerWthRight {
	height: 3.2rem;
	margin: 0 .4rem !important;
	border: 1px groove #99a5ad;
}

.headerWthMain .material-icons {
	color: #fff;
}

.headerWthMain {
	display: flex;
	flex-direction: column;
	font-size: 100%;
	align-items: flex-end;
	background-color: transparent;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

.WBScreen {
	display: flex;
	flex-direction: column;
	width: 8rem;
	align-items: center;
	justify-content: space-evenly;
	height: 3.2rem;
}

.WBScreen0 {
	font-size: 80%;
}

.WBScreen1 {
	font-size: 100%;
	position: relative;
	top: -3.2rem;
}

.WBScreen2 {
	font-size: 100%;
	position: relative;
	top: -6.4rem;
}

.WBScreen3 {
	font-size: 100%;
	position: relative;
	top: -9.6rem;
}

.WBScreen3 .material-icons {
	display: flex;
	font-size: 140%;
}

.WBScreen.hide2 {
	animation-name: _wb_fmtout;
	animation-duration: .6s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.WBScreen:not(.hide2) {
	animation-name: _wb_fmtin;
	animation-duration: .4s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.headerWthUnit {
	font-size: 40%;
	margin: -.5rem 0 0 .2rem;
}

#headerWthIconBg {
	background: rgba(198, 216, 218, 0.6);
	border-radius: 100%;
	height: 2rem;
	width: 2rem;
	margin: 0 .5rem 0 0;
}

#headerWthIcon {
	width: 2rem;
}

#headerWthTemp {
	display: flex;
	align-items: center;
	font-size: 180%;
}

#headerWthCity {
	font-size: 60%;
}

#WBdayTime,
#WBnightTime {
	display: flex;
	outline: none;
	width: 6.5rem;
//	align-items: center;
	justify-content: center;
	height: 1.6rem;
}

.hide2 > #WBdayTime,
.hide2 > #WBnightTime {
	opacity: 0;
}

#WBdayTime > .material-icons,
#WBnightTime > .material-icons {
	margin: 0 .5rem 0 0;
}

:not(.hide2) > #WBdayTime.active,
:not(.hide2) > #WBnightTime.active {
	animation-name: _timerowshrink;
	animation-duration: 1.2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}

:not(.hide2) > #WBdayTime:not(.active),
:not(.hide2) > #WBnightTime:not(.active) {
	animation-name: _timerowgrow;
	animation-duration: 1.2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}

#_srb,
#_ssb {
	font-size: 75%;
	position: relative;
	top: -1rem;
}

#_sra.hide2,
#_ssa.hide2,
#_srb.hide2,
#_ssb.hide2 {
	animation: .8s forwards ease-in-out _wb_fmtout;
}

#_sra:not(.hide2),
#_ssa:not(.hide2) {
	animation: 1.6s forwards ease-in-out _wb_fmtin;
}

#_srb:not(.hide2),
#_ssb:not(.hide2) {
	animation: 1.6s forwards ease-in-out _wb_fmtin_b;
}
