
.headerWthMain {
	display: flex;
	flex-direction: column;
	font-size: 90%;
	align-items: flex-end;
	background-color: transparent;
	color: #fff;
	padding: 0;
	margin: 0;
	border: solid 0px;
	outline: none;
}

@keyframes _fmtin {
	from {opacity: .1;}
	to {opacity: 1;}
}

@keyframes _fmtout {
	from {opacity: 1;}
	to {opacity: .1;}
}

.WBScreen.hide {
	animation: .4s forwards ease-in-out _fmtout;
}

.WBScreen:not(.hide) {
	animation: .8s forwards ease-in-out _fmtin;
}

.WBScreen {
	display: flex;
	flex-direction: column;
	width: 7em;
	align-items: center;
	justify-content: space-evenly;
	height: 3.2rem;
}

.WBScreen0 {
	font-size: 80%;
}

.headerWthUnit {
	font-size: 40%;
	margin: -1em 0 0 .3em;
}

@keyframes _timerowgrow {
	from {transform: scale(1);}
	to {transform: scale(1.2);}
}

@keyframes _timerowshrink {
	from {
		transform: scale(1);
		opacity: 100%;
	}
	to {
		transform: scale(.8);
		opacity: 60%;
	}
}

#WBdayTime.active,
#WBnightTime.active {
	animation-name: _timerowshrink !important;
	animation-duration: .5s !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

#WBdayTime:not(.active),
#WBnightTime:not(.active) {
	opacity: 100% !important;
	animation-name: _timerowgrow !important;
	animation-duration: .5s !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}