
@keyframes _wb_fmtin {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes _wb_fmtout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes _wb_fmtin2 {
	0% {opacity: 0;font-size: 90%;}
	100% {opacity: 1;font-size: 90%;}
}

@keyframes _wb_fmtout2 {
	0% {opacity: 1;font-size: 90%;}
	100% {opacity: 0;font-size: 90%;}
}

@keyframes _dayrowgrow {
	0% {transform: scale(.7) translate(0, 0);}
	100% {transform: scale(1) translate(0, .15rem);}
}

@keyframes _dayrowshrink {
	0% {transform: scale(1) translate(0, 0);opacity: 1;}
	100% {transform: scale(.7) translate(0, .15rem);opacity: .6;}
}

@keyframes _nightrowgrow {
	0% {transform: scale(.7) translate(0, 0);}
	100% {transform: scale(1) translate(0, -.15rem);}
}

@keyframes _nightrowshrink {
	0% {transform: scale(1) translate(0, 0);opacity: 1;}
	100% {transform: scale(.7) translate(0, -.15rem);opacity: .6;}
}

#headerWthSunrise,
#headerWthSunset {
	align-items: center;
	display: flex;
	width: 2.7em;
	white-space: nowrap;
	overflow: visible;
}

#headerWthRight {
	height: 3.2rem;
	border: 1px groove #99a5ad;
	margin: 0 .4rem !important;
	padding: 0 .3rem;
}

.headerWthMain .material-icons {
	color: #fff;
}

.headerWthMain {
	display: flex;
	flex-direction: column;
	font-size: 100%;
	align-items: flex-end;
	background-color: transparent;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

.WBScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 3.2rem;
	min-width: 7rem;
	width: auto;
}

.WBScreen0 {
	font-size: 80%;
}

.WBScreen1 {
	font-size: 100%;
	position: relative;
	top: -3.2rem;
}

.WBScreen2 {
	font-size: 100%;
	position: relative;
	top: -6.4rem;
}

.WBScreen3 {
	font-size: 100%;
	position: relative;
	top: -9.6rem;
}

.WBScreen3 .material-icons {
	display: flex;
	font-size: 140%;
}

.WBScreen.hide2 {
	animation-name: _wb_fmtout;
	animation-duration: .6s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.WBScreen:not(.hide2) {
	animation-name: _wb_fmtin;
	animation-duration: .4s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	z-index: 1000;
}

.headerWthUnit {
	font-size: 40%;
	margin: .5em 0 0 .4em;
}

#headerWthIconBg {
	background: rgba(198, 216, 218, 0.6);
	border-radius: 100%;
	height: 2rem;
	width: 2rem;
	margin: 0 .5rem 0 0;
}

#headerWthIcon {
	width: 2rem;
}

#headerWthTemp {
	display: flex;
	font-size: 160%;
}

#headerWthWind,
#headerWthWindDir,
#headerWthPressure,
#headerWthHum {
	display: flex;
	margin: 0 .4em;
}

#headerWthWindDirCode {
	font-size: 50%;
}

#headerWthCity {
	font-size: 60%;
}

#headerWthMainFrame {
	display: flex;
	outline: none;
	height: auto;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.headerWthDataRow {
	display: flex;
	flex-direction: row;
	width: 7rem;
	justify-content: space-evenly;
}

#WBdayTime,
#WBnightTime {
	display: flex;
	outline: none;
}

.hide2 > #WBdayTime,
.hide2 > #WBnightTime {
	opacity: 0;
}

#WBdayTime > .material-icons,
#WBnightTime > .material-icons {
	margin: 0 .35em 0 0;
}

:not(.hide2) > #WBnightTime.active {
	animation-name: _nightrowshrink;
}

:not(.hide2) > #WBdayTime.active {
	animation-name: _dayrowshrink;
}

:not(.hide2) > #WBdayTime:not(.active) {
	animation-name: _dayrowgrow;
}

:not(.hide2) > #WBnightTime:not(.active) {
	animation-name: _nightrowgrow;
}

:not(.hide2) > #WBdayTime,
:not(.hide2) > #WBnightTime {
	animation-duration: .6s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-delay: 0s;
}

#_sr.out,
#_ss.out {
	animation: .6s both linear _wb_fmtout;
}

#_sr.out2,
#_ss.out2 {
	animation: .6s both linear _wb_fmtout2;
}

#_sr.in,
#_ss.in {
	animation: 1.2s both linear _wb_fmtin;
}

#_sr.in2,
#_ss.in2 {
	animation: 1.2s both linear _wb_fmtin2;
}