/* 
	Extra fonts used for subtitles and the digital clock in the top bar.
	All selected fonts have compatible licensing terms which allow redistribution and free use 
	for any non profit project such as Jellyfin.
*/

@font-face {font-family: "DSWeiss";
    src: url("/assets/fonts/DSWeiss/DSWeiss-Gotisch.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "MGothisch";
    src: url("/assets/fonts/Manuskript Gotisch/Manuskript Gothisch UNZ1A.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Ubuntu-M";
    src: url("/assets/fonts/Ubuntu/Ubuntu-M.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Ubuntu-C";
    src: url("/assets/fonts/Ubuntu/Ubuntu-C.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Ubuntu-R";
    src: url("/assets/fonts/Ubuntu/Ubuntu-R.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Ubuntu-L";
    src: url("/assets/fonts/Ubuntu/Ubuntu-L.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "VTypewriter";
    src: url("/assets/fonts/Veteran Typewriter/veteran typewriter.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Monserga";
    src: url("/assets/fonts/Monserga Outline/Monserga-regular-FFP.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "OogieBoogie";
    src: url("/assets/fonts/Oogie Boogie/OogieBoogie.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Impact";
    src: url("/assets/fonts/Impact Label/Impact Label.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "JECasual";
    src: url("/assets/fonts/Janda Everyday Casual/JandaEverydayCasual.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "JACobbler";
    src: url("/assets/fonts/Janda Apple Cobbler/JandaAppleCobbler.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "JRosalie";
    src: url("/assets/fonts/Janda Rosalie/JandaRosalie.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Atext";
    src: url("/assets/fonts/Albert Text/AlbertText-Bold.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Orange";
    src: url("/assets/fonts/Orange Juice/orange juice 2.0.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "Chewy";
    src: url("/assets/fonts/Chewy/Chewy.ttf") format("truetype"); /* chrome firefox */
}

@font-face {font-family: "YouAreLoved";
    src: url("/assets/fonts/You Are Loved/You Are Loved.ttf") format("truetype"); /* chrome firefox */
}