<form style="margin: 0 auto;">
    <h2 class="sectionTitle">
        ${Display}
    </h2>

	<div style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>

		<div class="selectContainer fldDisplayMode hide" style='flex-grow: 3;width: 47%;height: auto;'>
			<select is="emby-select" id="selectLayout" class="selectLayout" label="${LabelDisplayMode}">
				<option value="">${Auto}</option>
				<option disabled>${OptionDivider}</option>
				<option value="desktop">${Desktop}</option>
				<option value="mobile">${Mobile}</option>
				<option value="tv">${TV}</option>
			</select>
			<div class="fieldDescription">${DisplayModeHelp}</div>
		</div>
		
		<div class="fldDisplaySeparator hide" style="width: 6%"></div>
		
		<div class="sliderContainer-settings fldDisplayFontSize hide" style="flex-grow: 2;width: 47%;height: auto;">
			<div class="sliderContainer" style="width:100%">
				<input is="emby-slider" id="sliderDisplayFontSize" label="${LabelDisplayFontSize}" type="range" min="-20" max="20" step="2"/>
			</div>
			<div class="fieldDescription" style="float:right"></div>
		</div>

	</div>
	
	<div class="DisplayLanguageArea hide" style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>

		<div class="selectContainer languageSection" style='width: 47%;height: auto'>
			<select is="emby-select" id="selectLanguage" class="selectLanguage" label="${LabelDisplayLanguage}">
				<option value="">${Auto}</option>
				<option disabled>${OptionDivider}</option>
			</select>
			<div class="fieldDescription">
				<div>${LabelDisplayLanguageHelp}</div>
				<div class="learnHowToContributeContainer hide" style="margin-top: .25em;">
					<a is="emby-linkbutton" rel="noopener noreferrer" class="button-link" href="https://github.com/jellyfin/jellyfin" target="_blank">${LearnHowYouCanContribute}</a>
				</div>
			</div>
		</div>
		
		<fieldset class="infoDetails" style="width: 45%;height: auto;border: 1px solid #000;padding: 10px !important;margin: 0 !important;font-size: 90%;">
			<legend class="infoDetailsLegend hide">
				<span class="material-icons warning warningIcon hide" style="font-size: 250%;"></span>
				<span class="material-icons done doneIcon hide" style="font-size: 250%;color: rgb(84, 206, 149);"></span>
			</legend>
			<div class="DisplayLanguageInfo fieldDescription" style='width: 100%;height: auto;white-space: nowrap !important;overflow: hidden;text-overflow: ellipsis'>
				<div><span class="LangDetailsHeader">${LabelDisplayLanguage}</span><span class="infoDisplayLanguage"></span></div>
				<div><span class="LangDetailsHeader">${LabelSourceLanguage}</span><span class="infoSourceLanguage"></span></div>
				<div><span class="LangDetailsHeader">${LabelTranslatedKeys}</span><span class="infoKeysTranslated"></span></div>
				<div style="margin: 0 0 0 20px;font-size:90%">-&nbsp;${LabelJellyfin}<span class="infoJellyfinKeysTranslated"></span></div>
				<div style="margin: 0 0 0 20px;font-size:90%">-&nbsp;${LabelmyJelly}<span class="infoMyjellyKeysTranslated"></span></div>
			</div>
		
		</fieldset>

	</div>

	<div style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>
		
		<div class="selectContainer fldDateTimeLocale hide" style="width: 47%;height: auto;">
			<select is="emby-select" id="selectDateTimeLocale" class="selectDateTimeLocale" label="${LabelDateTimeLocale}">
				<option value="">${Auto}</option>
				<option disabled>${OptionDivider}</option>
			</select>
		</div>
				
		<div class="checkboxContainer checkboxContainer-withDescription" style="width: 47%;height: auto;">
			<label>
				<input id="chkClock" type="checkbox" is="emby-checkbox"/>
				<span>${EnableClock}</span>
			</label>
			<div class="fieldDescription checkboxFieldDescription">${EnableClockHelp}</div>
		</div>	

	</div>
	
	<div style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>
	
		<div class="selectContainer" style="flex-grow: 3;width: 47%;height: auto;"> 
			<select id="selectTheme" is="emby-select" label="${LabelTheme}">
				<option value="None">${None}</option>
				<option disabled>${OptionDivider}</option>
			</select>
		</div>

		<div class="selectDashboardThemeContainer hide" style="width: 6%"></div>
		
		<div class="selectContainer selectDashboardThemeContainer hide" style="width: 47%;height: auto;">
			<select id="selectDashboardTheme" is="emby-select" label="${LabelDashboardTheme}">
				<option value="Auto">${Auto}</option>
				<option value="None">${None}</option>
				<option disabled>${OptionDivider}</option>
			</select>
		</div>

	</div>
	
	<div class="selectContainer" style="width: 100%;height: auto;">
	
		<select is="emby-select" id="srcBackdrops" label="${LabelBackdrops}">
			<option value="Auto">${Auto}</option>
			<option value="None">${None}</option>
			<option disabled>${OptionDivider}</option>
			<option value="Theme">${Theme}</option>
			<option value="Libraries">${HeaderLibraries}</option>
			<option value="LibrariesFav">${HeaderLibraries} - ${Favorites}</option>
			<option value="Movie">${HeaderLibraries} - ${Movies}</option>
			<option value="MovieFav">${HeaderLibraries} - ${Movies} - ${Favorites}</option>
			<option value="Series">${HeaderLibraries} - ${Series}</option>
			<option value="SeriesFav">${HeaderLibraries} - ${Series} - ${Favorites}</option>
		</select>
		<div class="fieldDescription ">${EnableBackdropsHelp}</div>
		
	</div>
	
	<div class="ScreensaverArea hide" style='display: flex !important;width: 100%;height: auto;flex-direction: row;align-items: center;justify-content: space-between;'>

		<div class="selectContainer selectScreensaverContainer" style='width: 47%;display: flex !important;flex-direction: column;height: auto;align-items: flex-start;justify-content: flex-start;'>
			<select is="emby-select" id="selectScreensaver" class="selectScreensaver" label="${LabelScreensaver}">
				<option value="none">${None}</option>
				<option disabled>${OptionDivider}</option>
			</select>
			<div class="fieldDescription "></div>
		</div>

		<div class="sliderContainer-settings" style="width: 47%;height: auto;">
			<div class="sliderContainer">
				<input is="emby-slider" id="sliderScreensaverTime" label="${LabelScreensaverTime}" type="range" min="1" max="30" step="1"/>
			</div>
			<div class="fieldDescription" style="float:right"></div>
		</div>
	
	</div>
	
	<div class="sliderContainer-settings">
		<div class="sliderContainer">
			<input is="emby-slider" id="sliderSwiperDelay" label="${LabelSwiperDelay}" type="range" min="4" max="60" />
		</div>
		<div class="fieldDescription">${LabelSwiperDelayHelp}</div>
	</div>
	
	<div class="sliderContainer-settings">
		<div class="sliderContainer">
			<input is="emby-slider" id="sliderLibraryPageSize" label="${LabelLibraryPageSize}" type="range" min="0" max="128" />
		</div>
		<div class="fieldDescription">${LabelLibraryPageSizeHelp}</div>
	</div>

	<div class="sliderContainer-settings">
		<div class="sliderContainer">
			<input is="emby-slider" id="sliderBlurhash" label="${EnableBlurHash}${Colon}" type="range" step="2" min="0" max="32" />
		</div>
		<div class="fieldDescription">${EnableBlurHashHelp}&nbsp;${EnableBlurHashMoreHelp}&nbsp;${EnableBlurHashSomeMoreHelp}</div>
	</div>
	
    <div class="checkboxContainer checkboxContainer-withDescription">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkFadein" />
            <span>${EnableFasterAnimations}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${EnableFasterAnimationsHelp}</div>
    </div>
	
    <div class="checkboxContainer checkboxContainer-withDescription fldDetailsBanner hide">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkDetailsBanner" />
            <span>${EnableDetailsBanner}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${EnableDetailsBannerHelp}</div>
    </div>
	
    <div class="checkboxContainer checkboxContainer-withDescription fldThemeSong hide">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkThemeSong" />
            <span>${ThemeSongs}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${EnableThemeSongsHelp}</div>
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription fldThemeVideo hide">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkThemeVideo" />
            <span>${ThemeVideos}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${EnableThemeVideosHelp}</div>
    </div>

    <div class="checkboxContainer checkboxContainer-withDescription fldDisplayMissingEpisodes hide">
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkDisplayMissingEpisodes" />
            <span>${DisplayMissingEpisodesWithinSeasons}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${DisplayMissingEpisodesWithinSeasonsHelp}</div>
    </div>
	
	<div class="checkboxContainer checkboxContainer-withDescription fldUseEpisodeImagesInNextUp">
        <label>
            <input type="checkbox" is="emby-checkbox" id="chkUseEpisodeImagesInNextUp" />
            <span>${UseEpisodeImagesInNextUp}</span>
        </label>
        <div class="fieldDescription checkboxFieldDescription">${UseEpisodeImagesInNextUpHelp}</div>
    </div>
	
	<button is="emby-button" type="submit" class="raised button-submit block btnSave hide">
		<span>${Save}</span>
	</button>

</form>
