* {
    scrollbar-color: #083b6b #081b3b;
	scrollbar-width: thin;
}

html {
    color: rgba(255, 255, 255, 0.9);
    background-color: #0f3562;
}

.headerLeft, .headerRight {
	overflow: visible;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #0c2450;
}

.emby-collapsible-button {
    border-color: rgba(255, 255, 255, 0.135);
}

.skinHeader {
    color: rgba(255, 255, 255, 0.78);
}

.formDialogHeader:not(.formDialogHeader-clear),
.skinHeader-withBackground {
    background: linear-gradient(to bottom, #0c2450, #081b3b);
    background-color: #0c2450;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0.3);
}

.layout-tv .skinHeader.semiTransparent {
     background-color: #0c2450;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background: -webkit-gradient(linear, left top, left bottom, from(#0f3562), color-stop(#1162a4), to(#03215f));
    background: -webkit-linear-gradient(top, #0f3562, #1162a4, #03215f);
    background: -o-linear-gradient(top, #0f3562, #1162a4, #03215f);
    background: linear-gradient(to bottom, #0f3562, #1162a4, #03215f);
    background-color: #0f3562;
}

.backgroundContainer.withBackdrop {
    background: rgba(17, 98, 164, 0.9);
}

.backgroundContainer.withThemeBackdrop {
    background: rgba(17, 98, 164, 0.8);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #00a4dc;
}

.fab,
.raised {
    color: #fff;
}

.homeLibraryButton {
	opacity: 60%;
    background: #082845;	
}

.fab:focus,
.raised:focus {
    background: #143451;
}

.button-submit {
    background: #00a4dc;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff;
}

.button-delete {
    background: rgb(247, 0, 0);
    color: rgba(255, 255, 255, 0.87);
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: rgba(255, 255, 255, 0.7);
}

.sliderBubble {
	    background: #00a4dc;
		color: #ffffff;
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #00a4dc;
}

.checkboxOutline {
    border-color: currentColor;
}

.collapseContent,
.paperList,
.visualCardBox {
    background-color: #0f3562;
}

.defaultCardBackground1 {
    background-color: #d2b019;
}

.defaultCardBackground2 {
    background-color: #338abb;
}

.defaultCardBackground3 {
    background-color: #6b689d;
}

.defaultCardBackground4 {
    background-color: #dd452b;
}

.defaultCardBackground5 {
    background-color: #5ccea9;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: rgba(255, 255, 255, 0.5);
}

.fieldDescription {
	font-style: italic;
	font-size: 85%;
}

.actionsheetDivider {
    background: rgba(255, 255, 255, 0.14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: 0.5;
}

.toast {
    background: #081b3b;
    color: #fff;
}

.appfooter,
.formDialogFooter:not(.formDialogFooter-clear),
.playlistSectionButton {
    background: #0c2450;
    background: -webkit-gradient(linear, left bottom, left top, from(#0c2450), to(#081b3b));
    background: -webkit-linear-gradient(bottom, #0c2450, #081b3b);
    background: -o-linear-gradient(bottom, #0c2450, #081b3b);
    background: linear-gradient(to top, #0c2450, #081b3b);
    color: rgba(255, 255, 255, 0.78);
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
	color: rgb(77, 166, 209);
	background-color: transparent;
	font-weight: 600;
}

.alphaPickerButton-selected {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.alphaPickerButton:hover {
	color: #fff !important;
	background-color: transparent;
}

.detailRibbon {
    background-color: #081b3b;
}

.layout-tv .detailRibbon {
    background: none;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
}

.listItem-border {
    border-color: rgba(0, 0, 0, 0.3) !important;
}

.listItem:focus {
    background: #333;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.button-flat:hover {
    color: #00a4dc;
}

.button-link {
    color: #00a4dc;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170, 170, 190, 0.2);
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: rgba(255, 255, 255, 0.2);
    border: 0.16em solid rgba(255, 255, 255, 0.135);
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #00a4dc;
}

.emby-select-withcolor {
    color: inherit;
    background-color: rgb(37, 89, 135);
    border: 0.07em solid rgba(255, 255, 255, 0.135);
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-select-withcolor:focus {
    border-color: #00a4dc;
}

.emby-checkbox:focus + span + .checkboxOutline {
	border-color: #ffffff;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
    background-color: #00a4dc;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #00a4dc;
}

.emby-select-withcolor > option {
	color: #8ca7da;
	background-color: rgb(41, 85, 131);
}

.emby-select-tv-withcolor:focus {
    background-color: #00a4dc;
    color: #fff;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #00a4dc;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background-color: #0f3562;
    color: rgba(255, 255, 255, 0.7);
}

.actionSheetMenuItem:hover,
.navMenuOption:hover {
    background: rgba(0, 0, 0, 0.2);
}

.navMenuOption-selected {
    background: #00a4dc !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #00a4dc;
    color: #fff;
}

.emby-tab-button {
    color: #61a2c9;
}

@keyframes tabSelect {
	from {transform: scale(1);}
	to {transform: scale(1.3);}
}

.emby-tab-button-active {
    color: #fff !important;
	transform: scale(1.3);
	animation-name: tabSelect;
	animation-duration: .15s;
}

.emby-tab-button > * > .material-icons {
	color: #61a2c9 !important;
}

.emby-tab-button-active > * > .material-icons {
	color: #fff !important;
}

.emby-tab-button.show-focus:focus {
    color: #fff;
}

.emby-tab-button:hover {
    color: #fff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(255, 255, 255, 0.1);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.3) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: rgba(255, 255, 255, 0.3);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #00a4dc;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #00a4dc;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.ratingbutton-icon-withrating {
    color: #c33;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #00a4dc !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #0f3562;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #fff !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #083b6b;
}

.metadataSidebarIcon {
    color: #00a4dc;
}

/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0,0);}
	to {transform: scale(1.8,1.8);}
}

.checkboxIcon-checked {
	padding-left: 5px;
	padding-bottom: 6px;
	transform: scale(1.8,1.8);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.7,0.7);
	border: 2px solid #9edfdf;
	border-radius: 22px;
}

.btnSave,
.button-submit {
	background-color: SteelBlue;
	color: #9edfdf;
	border: 2px double #00a4dc;
}

/* select widget */

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
}

.emby-button.show-focus:focus {
	transform: scale(1.1);
}

/* top bar clock style */

.headerClockButton {
	padding:0px;
}

.headerClock,
.headerClock > .material-icons {
	color: rgba(98, 186, 149, 0.8) !important;
	text-shadow: 1px 1px 8px #1f2443 !important;
}

.headerClockTime {
	font-size: 140% !important;
}

.headerClockDate {
	font-size: 90% !important;
}

.nightClock > .headerClockTime,
.nightClock > .headerClockDate {
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2bd726, 0 0 40px #22ee1d, 0 0 50px #49f00d, 0 0 60px #16da3e, 0 0 70px #00e60e;
}

.headerClockButton:hover > .headerClockTime,
.headerClockButton:focus > .headerClockTime {
	font-size: 140% !important;
}

.headerClockButton:hover > .headerClockDate,
.headerClockButton:focus > .headerClockDate {
	font-size: 90% !important;
}

/* slider widget */

.mdl-slider-background,
.mdl-slider-background-flex  {
	box-shadow: 1px 2px 8px #1e1d25;
}

.mdl-slider-background-lower  {
	background: linear-gradient(135deg, rgba(47,218,16,1) 0%, rgba(203,251,191,1) 50%, rgba(47,218,16,1) 100%);
}

.mdl-slider::-moz-range-thumb
 {
	box-shadow: 0px 2px 8px #1e1d25;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
}

.mdl-slider-container {
    height: 0.83em !important;
}

select option:disabled {
    color: #9edfdf;
    text-shadow: 0px 0px 15px #0cf3dd;
    font-weight: bold;
}

/* fix for TV Layout */

.layout-tv .detailPageWrapperContainer {
	margin-top: 2%;
}

/* upNext dialog box */

.upNextContainer {
	background: #113c6a;
	color: #b7d6f7;
	width: auto;
	overflow: hidden;
	margin: 0 0 0 0;
	position: fixed;
	bottom: 3%;
	right: 1%;
	will-change: unset;
}

.upNextDialog-countdownText {
	color: #00a4dc;
}

.upNextDialog-button {
	background: #e0e6e6;
	color: #113c6a !important;
}

.upNextDialog-button:focus {
	transform: scale(1.1) !important;
	color: #113c6a !important;
	background: #b7d6f7 !important;
}

.mediaInfoItem {
	color: #fff !important;	
}

legend {
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	text-shadow: 2px 2px 4px #0a1e33;
	color: #fbfdff;
}

fieldset {
	padding: 1.5em 2em 0 2em;
	margin: 0 0 2em 0;
	border: 3px solid #236aa9;
}

/* Pseudo radio widget (a radio button that allows deselecting) */
/* based on the checkbox widget */

.radio > .checkboxLabel,
.radio + .fieldDescription {
	margin-bottom: .3em !important;
	margin-left: -.3em !important;
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	color: #abb2ba !important;
	font-size: 170%;
	text-shadow: 1px 2px 3px #1e1d25;
}

.radio.emby-checkbox + span + .checkboxOutline {
	border: none !important;
}

.radio.emby-checkbox:checked + span + .checkboxOutline {
	background-color: #00a4dc;
}

.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-checked,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-unchecked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-checked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-unchecked {
	color: #ccc !important;
}

.radioButtonLabel,
.emby-collapsible-button {
	color: rgb(117, 129, 138);
	font-size: .9em !important;
 }
 
.collapseContent {
	color: rgb(82, 121, 145) !important;
	background-color: #1f4075 !important; 
 }
 
.iconOsdProgressInner {
	background: rgb(221, 219, 225);
}

option.sourceDictionaryOption {
	color: #fff;
}
/* disabled slider */

.sliderContainer-settings.disabled > .sliderLabel {
	color: #447a9b;
}

.sliderContainer-settings.disabled  .mdl-slider-background, 
.sliderContainer-settings.disabled  .mdl-slider-background-flex {
	box-shadow: none;
	background: #447a9b;
}


.sliderContainer-settings.disabled .fieldDescription,
.sliderContainer-settings.disabled .sliderBubble {
	color: #454d59;
	visibility: hidden;
}

.sliderContainer-settings.disabled .mdl-slider-background-lower {
	background: none;
}

.sliderContainer-settings.disabled .mdl-slider
 {
	visibility: hidden;
}

.actionsheetDivider {
	padding: 1px 20px 1px 20px !important;
	margin: .5rem 0rem .5rem 0rem !important;
	
	color: rgb(17, 54, 87);
	font-weight: 600;
	background: rgb(41, 111, 150);
}

.clockScreenSaver {
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2bd726, 0 0 40px #22ee1d, 0 0 50px #49f00d, 0 0 60px #16da3e, 0 0 70px #00e60e;
}

.btnTryIt {
	font-size: 0.9rem;
}