.backdropContainer {
    contain: layout style size;
}

.backdropImage {
    background-repeat: no-repeat;
    background-position: 0em 0em;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: layout style;
}

.pinned .backdropImage {
	background-position: 0em 5.5em !important;
}

.backdropImageFadeIn {
    animation: backdrop-fadein 800ms ease-in normal both;
}

.backdropImageFastFadeIn {
    animation: backdrop-fadein 200ms ease-in normal both;
}

@keyframes backdrop-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
