.backdropContainer {
    contain: layout style size;
}

.backdropImage {
    background-repeat: no-repeat;
    background-position: 0em 3.5em;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: layout style;
}

.layout-tv .backdropImage {
	background-position: 0em 0em !important;
}

.itemBackdrop {
	background-position: 0em 3.5em !important;
}

.backdropImage.themeBackdrop {
    background-position: 50% 50%;
}

.backdropImageFadeIn {
    animation: backdrop-fadein 800ms ease-in normal both;
}

@keyframes backdrop-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
