.emby-checkbox-label {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 2.4em;
    align-items: center;
    height: 2.35em;
    cursor: pointer;
}

.checkboxFieldDescription {
    padding-left: 2.4em;
}

.checkboxContainer {
    margin-bottom: 1.8em;
    display: flex;
}

.checkboxListContainer {
    margin-bottom: 1.8em;
}

.checkboxContainer-withDescription {
    flex-direction: column;
}

.emby-checkbox {
    position: absolute;

    /* This is for focusing purposes, so the focusManager doesn't skip over it */
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.checkboxOutline {
    position: absolute;
    /*top: 3px;*/
    left: 0;
    box-sizing: border-box;
    margin: 0;
	width: 1.8em;
    height: 1.8em;
    overflow: hidden;
    border: 0.14em solid currentcolor;
    border-radius: 0.14em;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio > .checkboxOutline {
    width: auto;
    height: auto;
}

.checkboxIcon {
    font-size: 1.6em;
    color: #fff;
}

.checkboxIcon-checked,
.emby-checkbox-label .checkboxIcon-checked {
    display: none;
}

.emby-checkbox:checked + span + .checkboxOutline > .checkboxIcon-checked {
    /* background color set by theme */
    display: flex !important;
}

.emby-checkbox:checked + span + .checkboxOutline > .checkboxIcon-unchecked {
    /* background color set by theme */
    display: none !important;
}

.emby-checkbox:checked[disabled] + span + .checkboxOutline > .checkboxIcon {
    background-color: rgba(0, 0, 0, 0.26);
}

.checkboxLabel {
    position: relative;
    margin: 0;
}

.checkboxList > .emby-checkbox-label {
    display: flex;
    margin: 0.5em 0;
}

.checkboxList-verticalwrap {
    display: flex;
    flex-wrap: wrap;
}

.checkboxList-verticalwrap > .emby-checkbox-label {
    display: inline-flex;
    margin: 0.3em 0 0.3em 0;
    width: 12em;
}

.checkboxList > .sectioncheckbox > .emby-checkbox-label {
    display: flex;
    //margin: 0.5em 0;
}

.checkboxList-paperList {
    padding: 1em !important;
}

.checkboxListLabel {
    margin-bottom: 0.25em;
}

@keyframes repaintChrome {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

@-webkit-keyframes repaintChrome {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

// pseudo radio buttons derived from emby-checkboxes.
// p-radio buttons are simply radio buttons which can be unchecked.

.radio > * > .material-icons.checkboxIcon-unchecked::before {
	content: "\e836";
}

.radio > * > .material-icons.checkboxIcon-checked::before {
	content: "\e837";
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	color: #fff;
	padding: unset;
	transform: none;
	text-shadow: none !important;
	animation: none;
	background: transparent;
	/*font-size: 140%;*/
}

.radio.emby-checkbox + span + .checkboxOutline {
	border: none;
	border-radius: 100%;
	overflow: hidden;
	transform: none;
}


