
* {
	scrollbar-color: #246b76 #b8d9d6;
    scrollbar-width: none;
	-ms-overflow-style: none;  /* IE and Edge */
}

.skinHeader,
html {
    color: #135090;
}

.headerLeft, .headerRight {
	overflow: visible;
}

::-moz-selection { 
	color: #113c6a;
	background: #b7d6f7;
}

::selection {
	color: #113c6a;
	background: #b7d6f7;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
	background: linear-gradient(105deg, rgb(133, 200, 197) 0%, rgb(96, 147, 177) 100%);
    color: #fff;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.osdHeader {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: #91b0d2;
}

.layout-tv .skinHeader.semiTransparent {
    background-color: #91b0d2;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

html {
    background-color: #daeaf4;
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: rgb(143, 195, 208);
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #000;
}

.fab,
.raised {
    color: inherit;
}

.fab:focus,
.raised:focus {
    background-color: rgba(66, 126, 139, 0.4);
	color: rgb(255, 232, 232);
}

.button-link,
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: rgb(86, 121, 158);
}

.button-link {
	text-align: left;
}

.defaultCardBackground1 {
    background-color: #009688;
}

.defaultCardBackground2 {
    background-color: #338abb;
}

.defaultCardBackground3 {
    background-color: #71abb4;
}

.defaultCardBackground4 {
    background-color: #6db392;
}

.defaultCardBackground5 {
    background-color: #63c4a4;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent;
    border: none;
    color: inherit;
}

.formDialogHeader a {
    color: #fff;
}

.toast {
	color: white;
	background: rgb(96, 147, 177);
}

.nowPlayingBarSecondaryText {
    color: #999;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.alphaPickerButton {
	color: rgb(76, 140, 171);
	background-color: transparent;
	font-weight: 600;
}

.alphaPickerButton-selected {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.alphaPickerButton:hover {
	color: #fff !important;
	background-color: transparent;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #85adc4;
}

.listItem-border {
    border-color: #b9d2d5 !important;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.itemProgressBarForeground {
    background-color: #e2dec6;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator,
.mediaSourceIndicator,
.indicator {
	color: #1684ba;
	background: White;
	box-shadow: 0 0 8px #286089;
	text-shadow: 1px 1px 3px #9eb9c3;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background: #81bbc1;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #968b5b !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: rgba(0, 0, 0, 0.54);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #968b5b;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #968b5b;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.buttonActive {
    color: #968b5b !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #fff;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: rgba(106, 136, 207, 0.8) !important;
} 

.metadataSidebarIcon {
    color: #968b5b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
	display: none;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #083b6b;
}

/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0);}
	to {transform: scale(1.8);}
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.8);
	border: 3px solid rgb(37, 71, 77);
	border-radius: 20%;
}

.emby-checkbox + span + .checkboxOutline {
    border-color: #5e97ae;
}

.emby-checkbox:checked + span + .checkboxOutline {
	background-color: transparent;
}

.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-checked,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-unchecked {
	border-color: white;
	color: white;
}

.checkboxIcon-checked {
	color: #fff !important;
	padding-left: 5px;
	padding-bottom: 6px;
	transform: scale(1.5);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

/* Buttons */

@keyframes focus {
	to {transform: scale(1.3);}
}

.homeLibraryButton {
	color: rgb(186, 199, 223) !important;
	background-color: rgba(36, 136, 153, 0.4);
	box-shadow: 0px 0px 6px #273f51;
	font-weight: 400;
	border-color: #6dcfcf !important;
	border-style: ridge !important;
	border: 2px;
}

.homeLibraryButton:hover:not(:disabled) {
	color: rgb(255, 255, 255) !important;
	background-color: rgba(92, 151, 179, 0.8) !important;
}

.homeLibraryButton:focus {
	color: rgb(53, 79, 108) !important;
	background-color: rgba(164, 181, 200, 0.4) !important;
	transform: scale(1.1) !important;
	font-weight: 600;
}

.listItemBody:hover:not(:disabled) {
	color: rgba(244, 245, 247, 0.8) !important;
	background-color: transparent !important;
}
 
.emby-button:hover:not(:disabled) {
	color: rgb(4, 103, 162);
}

.emby-button.show-focus:focus > .listItem > .listItemBody {
	color: rgba(240, 245, 247, 0.8) !important;
	background-color: rgba(177, 224, 239, 0.3) !important;
}

.emby-button:active {
	color: rgba(255, 255, 255, 0.8);
}

/* headerButton */

.headerButton:focus {
    background-color: rgba(123, 152, 184, 0.4);
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.headerButton:hover:not(:disabled) {
	color: #efe4aa;
	background-color: rgba(213, 226, 242, 0.4);
}

.headerButton:active:not(:disabled) {
    color: #f0ed3c;
	background-color: rgba(255, 232, 232, 0.8);
}

/* detail button */

.detailButton {
	border-radius: 50%;
	margin: 4px !important;
	padding: 9px !important;
}

.detailButton:hover:not(:disabled) {
	background-color: rgba(169, 198, 230, 0.4);
}

.detailButton:focus {
	transform: scale(1.3);
	background-color: rgba(85, 142, 216, 0.4);
	animation-name: focus;
	animation-duration: .15s;
}

.detailButton:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
}

/* select widget */

[label],
option:disabled {
    color: rgb(200, 209, 218);
}

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
}

.emby-select-withcolor {
	padding: .5em 1.9em .5em .5em !important;
}

.emby-input,
.emby-textarea {
	background: #8cbec6;
	border: .2rem ridge rgb(109, 157, 169);
	font-weight: 600;
	line-height: 1.35;
	color: rgb(170, 232, 254) !important;
}

option:not(:disabled),
.emby-select-withcolor {
	background: #fff;
	border: .1em ridge rgb(95, 146, 158);
	font-weight: 600;
	line-height: 1.35;
	color: rgb(107, 134, 144) !important;
}

.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
	border-color: white;
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

option:selected {
	color: #fff !important;
	background: #898989 !important;
}

/* slider widget */

.mdl-slider {
	background: transparent;
}

.mdl-slider-background,
.mdl-slider-background-flex  {
	background: #86a4b0;
}

.mdl-slider:focus,
.mdl-slider:hover:not(:disabled) {
	background-color: rgba(67, 120, 176, 0.1);
}

.mdl-slider:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider-background-lower  {
	background: linear-gradient(90deg, rgb(36, 102, 113) 0%, rgb(47, 148, 188) 100%);
}

.mdl-slider::-moz-range-thumb
 {
	box-shadow: 0px 2px 8px #22546c;
	background: #98cedb;
	border-radius: 10% / 50%;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #22546c;
	background: #98cedb;
	border-radius: 10% / 50%;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #22546c;
	background: #98cedb;
	border-radius: 10% / 50%;
}

.mdl-slider-container {
    height: 0.83em !important;
}

.sliderBubble {
	background: #f6f6f6;
	color: #113c6a;
	border-radius: 62px;
	border: 1px solid #cfcfcf;
}

/* dashboard menu */

.navMenuOption:hover:not(:disabled) {
	color: rgba(49, 62, 69, 0.8) !important;
	background-color: rgba(110, 167, 176, 0.8) !important;
}

.navMenuOption:focus {
	color: rgba(43, 93, 123, 0.8) !important;
	background-color: rgba(136, 213, 199, 0.8) !important;
}

h3 {
	font-weight: 600 !important;
}

.navMenuOption:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.navMenuOption-selected {
	background-color: rgba(87, 140, 152, 0.8) !important;
	color: #1d363c;
}

/* top bar clock style */


.headerClockButton {
	padding:0px;
}

.headerClock,
.headerClock > .material-icons {
	color: rgba(178, 248, 255, 0.8) !important;
	text-shadow: 1px 1px 8px #39708b !important;
}

.headerClockMode1 {
	font-size: 120% !important;
}

.headerClockMode2 {
	font-size: 140% !important;
}

.headerClockMode3 {
	font-size: 160% !important;
}

.headerClockTime {
	font-size: 140% !important;
}

.headerClockDate {
	font-size: 70% !important;
}

.nightMode > * {
	color: #fff;
	text-shadow: 0 0 10px #b7f8ff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #16ffde, 0 0 70px #1cfff4;
}

.headerClockButton:hover > .headerClockTime,
.headerClockButton:focus > .headerClockTime {
	font-size: 140% !important;
}

.headerClockButton:hover > .headerClockDate,
.headerClockButton:focus > .headerClockDate {
	font-size: 90% !important;
}

.formDialogHeaderTitle,
.pageTitle {
	color: #fff !important;
	text-shadow: 1px 1px 4px #304753;
}

.material-icons {
	color: #135090;
	text-shadow: 1px 1px 4px #304753;
}

.cardOverlayButton > .material-icons {
    color: #cbeeff;
    text-shadow: 1px 1px 4px #4a5152;
}

.starIcon {
    color: #f2b01e !important;
}

.playstatebutton-icon-played {
    color: #62976a !important;
}

.detailRibbon {
    background-color: rgba(255,255,255,.6);
    color: rgba(255, 255, 255, 0.87);
}

.layout-tv .detailRibbon {
    background: none;
}

.itemName {
	color: #146088;
	text-shadow: 0 0 4px #6f7373;
}

.cardText-secondary,
.guide-programNameCaret,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
	color: #fff;
	font-size: 85%;
}

.listItem .secondary,
.actionSheetText {
	color: #c6dce4;
	font-size: 85%;
}

.skinHeader.osdHeader {
	background: linear-gradient(180deg,hsla(213.8, 35.9%, 30%, 0.85),hsla(240, 100%, 0.2%, 0.05));
	height: 6.5em;
	transition: opacity .6s ease-out;
}

.jstree-default .jstree-wholerow-clicked {
    background: #edeabc !important;
}

.button-accent-flat {
	color: #4f4c41 !important;
	text-shadow: 1px 1px 15px #8c8c8c !important;
	overflow: visible !important;
}

.material-icons.favorite::before {
    content: "\e87e";
}

.material-icons.favorite.ratingbutton-icon-withrating::before {
	content: "\e87d";
}

.ratingbutton-icon-withrating {
    color: #bbf6ae !important
}

.backgroundContainer {
	background: linear-gradient(105deg, rgba(55, 95, 172, 0.5) 0%, rgba(60, 152, 126, 0.5) 40%, rgba(38, 112, 148, 0.5) 70%, rgba(185, 217, 219, 0.5) 100%);
	background-color: rgb(220, 242, 248);
    -webkit-background-size: cover;
    background-size: cover;
}

.backgroundContainer.withBackdrop {
	background-color: rgba(108, 200, 235, 0.1);
}

.backgroundContainer.withThemeBackdrop {
	background-color: rgba(108, 200, 235, 0.1);
}

.backdropImage {
    background-color: rgb(220, 220, 220) !important;
	background-position: 0 0;
}

.backdropImage.themeBackdrop {
	background-image: url(./img/bg.jpg) !important;
}

.backdropImage.themeBackdrop.alt1 {
	background-image: url(./img/bg.jpg) !important;
}

.backdropImage.themeBackdrop.alt2 {
	background-image: url(./img/bg-alt1.jpg) !important;
}

.backdropImage.themeBackdrop.alt3 {
	background-image: url(./img/bg-alt2.jpg) !important;
}

.backdropImage.themeBackdrop.alt4 {
	background-image: url(./img/bg-alt3.jpg) !important;
}

/* fix for TV Layout */

.layout-tv .detailPageWrapperContainer {
	margin-top: 2%;
}

/* Tab About... */

.abouttab {
	font-family: inherit;
	line-height: 1.35;
	align-items: flex-start !important;
	width: auto;
	font-weight: 600;
	text-shadow: 1px 1px 4px #9fa8ac;
	color: rgb(57, 110, 129);
}

.aboutframe {
	padding: .2em 1em .2em 1em !important;
	background: rgba(117, 195, 195, 0.25) !important;
	font-size: 100% !important;
	line-height: 1.65 !important;
}

.aboutContent {
	color: #d3f9ff;
	text-shadow: none;
}

/* upNext dialog box */

.upNextContainer {
	background: #113c6a;
	color: #b7d6f7;
	width: auto;
	overflow: hidden;
	margin: 0 0 0 0;
	position: fixed;
	bottom: 3%;
	right: 1%;
	will-change: unset;
}

.upNextDialog-countdownText {
	color: #00a4dc;
}

.upNextDialog-button {
	background: #e0e6e6;
	color: #113c6a !important;
}

.upNextDialog-button:focus {
	transform: scale(1.1) !important;
	color: #113c6a !important;
	background: #b7d6f7 !important;
}

.mediaInfoItem {
	color: #2e436c !important;	
}

legend {
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	text-shadow: 2px 2px 4px #6a7679;
	color: #fbfdff;
}

/* Pseudo radio widget (a radio button that allows unselects) */
/* based on the checkbox widget */

.radio > .checkboxLabel,
.radio + .fieldDescription {
	margin-bottom: .3em !important;
	margin-left: -.3em !important;
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	font-size: 170%;
	text-shadow: 1px 2px 3px #1e1d25;
	color: #5e97ae;
}

.radio.emby-checkbox + span + .checkboxOutline {
	border: none !important;
}

.radio.emby-checkbox:checked + span + .checkboxOutline {
	background-color: transparent;
}

.radio:focus + * + .checkboxOutline > .checkboxIcon-checked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-unchecked {
	color: white !important;
}
 
.collapseContent {
	color: rgb(134, 167, 179) !important;
	background-color: #a9d8e3 !important;
 }
 
.iconOsdProgressInner {
	background: rgb(181, 201, 218);
}

option.sourceDictionaryOption {
	color: #fff;
}

fieldset {
	padding: 1.5em 2em 0 2em;
	margin: 0 0 2em 0;
	border: 4px groove #fcfcfc !important;
	border-color: #b7e3f4 !important;
}

.fieldDescription {
	color: #edf2f2;
	font-style: italic;
	font-size: 85%;
}

.LangDetailsHeader {
	color: #427386;
	font-size: 100%;
	font-weight: 600;
	font-style: normal;
}

.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
    border-color: #527898 !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
	background: #cce3e6 !important;
	color: #649294 !important;
	font-weight: 600 !important;
}

div[data-role="controlgroup"] a.ui-btn-active {
	background: #377f8f !important;
	color: #fff !important;
	font-weight: 600 !important;
}

.dialogContentInner {
    padding: .5em 1em 1em;
}

.username {
	color: #efefef;
	text-shadow: 1px 1px 3px #1a8489;
	font-weight: 600;
}

.actionSheetTitle {
	color: #ddf2fc;
	text-shadow: 1px 1px 4px #586e75;
	font-weight: 600;
	font-size: 1.5em;
}

.listItemIcon:not(.listItemIcon-transparent) {
	background-color: transparent !important;
	border-radius: 50%;
	color: #fff;
}

.cardText > .textActionButton {
	font-weight: 600;
	color: #135090;
}

.radioButtonLabel,
.emby-collapsible-button {
	font-size: .9em !important;
 }

.listItemBody {
	font-weight: 600;
	color: rgb(94, 137, 150);
}

.h2 {
	font-size: 1.6em;
}

/* buttons */

@keyframes click {
	from {transform: scale(1.2);}
	70% {transform: scale(1.4);}
	to {transform: scale(1.2);}
}

.cancel,
.button-cancel,
.button-alt,
.button-delete,
.btnRefresh,
.btnTryIt,
#btnRestartServer,
#btnShutdown,
.button-submit {
	font-weight: 600;
	position: unset;
}

.cancel,
.button-cancel,
.button-delete,
#btnRestartServer,
#btnShutdown,
.button-submit {
	margin: .5em auto .5em auto !important;	
}

.cancel,
.button-cancel,
.button-delete,
.button-submit {
	width: 35% !important;
	flex-grow: 0.1 !important;
}

.button-delete,
.btnRefresh,
#btnRestartServer,
#btnShutdown,
.button-submit {
	background-color: rgb(68, 155, 151);
	box-shadow: 0px 0px 4px #6e8788;
	color: rgb(193, 206, 212) !important;
}

.button-delete:hover:not(:disabled),
.btnRefresh:hover:not(:disabled),
#btnRestartServer:hover:not(:disabled),
#btnShutdown:hover:not(:disabled),
.button-submit:hover:not(:disabled) {
	color: rgba(255, 255, 255) !important;
	background-color: rgb(48, 115, 109) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-delete:focus,
.btnRefresh:focus,
#btnRestartServer:focus,
#btnShutdown:focus,
.button-submit:focus {
	color: white !important;
	background-color: rgb(48, 115, 109) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-delete:active,
.btnRefresh:active,
#btnRestartServer:active,
#btnShutdown:active,
.button-submit:active {
	background-color: rgb(48, 115, 109) !important;
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0px 0px 8px #829d9e;
	animation-name: click;
	animation-duration: .15s;
	transform: scale(1.2);
}

.button-cancel,
.btnTryIt,
.cancel {
	background-color: rgb(61, 179, 163);
	box-shadow: 0px 0px 4px #6e8788;
	color: rgb(226, 237, 205) !important;
}

.button-cancel:hover:not(:disabled),
.btnTryIt:hover:not(:disabled),
.cancel:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(137, 208, 188, 0.8) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-cancel:focus,
.btnTryIt:focus,
.cancel:focus {
	color: white !important;
	background-color: rgba(137, 208, 188, 0.8) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-cancel:active,
.btnTryIt:active,
.cancel:active {
	background-color: rgba(137, 208, 188, 0.8) !important;
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0px 0px 8px #829d9e;
	animation-name: click;
	animation-duration: .15s;
	transform: scale(1.2);
}

.button-alt {
	background-color: rgb(61, 179, 163);
	box-shadow: 0px 0px 4px #6e8788;
	color: rgb(226, 237, 205) !important;
}

.button-alt:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(137, 208, 188, 0.8) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-alt:focus {
	color: white !important;
	background-color: rgba(137, 208, 188, 0.8) !important;
	box-shadow: 0px 0px 8px #829d9e;
	transform: scale(1.2);
}

.button-alt:active {
	background-color: rgba(137, 208, 188, 0.8) !important;
	color: white !important;
	box-shadow: 0px 0px 8px #829d9e;
	animation-name: click;
	animation-duration: .15s;
	transform: scale(1.2);
}

.appfooter,
.playlistSectionButton {
	background: linear-gradient(105deg, rgb(133, 200, 197) 0%, rgb(96, 147, 177) 100%);
    color: #1d6fa1;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.formDialogHeader:not(.formDialogHeader-clear) {
	background-color: rgb(102, 168, 178);
	color: #fff;
	-webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
	box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.formDialogContent {
	background-color: rgb(143, 195, 208);
}

.trackSelectionFieldContainer > .selectLabel,
.detailsGroupItem > .label {
	color: white;
}

.pageTabContent {
    padding-top: 0.5em !important;
}

.sectionTitle-cards,
div:not(.sectionTitleContainer-cards) > .sectionTitle-cards,
.sectionTitleContainer-cards {
		padding-top: 0px;
}

.radioButtonLabel,
.emby-collapsible-button,
.emby-collapsible-title,
.label,
.listItemBodyText,
.paperListLabel,
.checkboxListLabel,
.textareaLabel,
.selectLabel,
.sliderLabel,
.checkboxLabel,
.inputLabel {
	font-weight: 600;
	color: rgb(57, 110, 129);
	font-size: 1em !important;
	margin-bottom: .2em !important;
}

.detailSectionHeader, 
.sectionTitle {
	color: #efefef;
	text-shadow: 1px 1px 3px #1a8489;
	font-weight: 600;
	font-size: 1.5rem;
}

.paperList,
.visualCardBox {
    background: rgba(103, 164, 161,.4);
	border: 3px ridge #8fcad4;
}

/* tab buttons */

.emby-tabs {
	overflow: visible;
}

.emby-tab-button {
    color: #277499;
	overflow: visible;
}

.emby-tab-button:hover,
.emby-tab-button-active {
    color: #a7e2ff !important;
}

.emby-tab-button-active {
	animation-name: buttonfocus !important;
	animation-duration: .15s !important;
	transform: scale(1.4) !important;
}

.emby-tab-button:hover:not(:disabled) > * > .material-icons {
    color: rgb(143, 225, 229) !important;
}

.emby-tab-button-active > * > .material-icons,
.emby-tab-button-active:focus > * > .material-icons,
.emby-tab-button-active:hover:not(:disabled) > * > .material-icons {
	text-shadow: 0 0 15px #93faff, 0 0 20px #fff, 0 0 25px #fcfcfc, 0 0 30px #fcfcfb, 0 0 35px #01cdfc !important;
    color: #fff !important;
	animation-name: buttonfocus !important;
	animation-duration: .15s !important;
	transform: scale(1.5) !important;
}

.emby-tabs-button > * > .material-icons {
	color: #c1dede !important;
	font-size: 1.5rem !important;
	transform: scale(1) !important;
	text-shadow: 0 0 5px #060606 !important;
}

.formDialogFooter {
	position: relative;
}

.listItemAside {
	color: #edeceb;
}

.listItem-button:focus {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(210, 210, 210);
}

.listItem-button:active {
	color: rgb(255, 255, 255) !important;
}

.actionsheetDivider {	
	color: rgb(183, 213, 239);
	font-weight: 600;
	background: rgb(132, 178, 201);
	text-shadow: 3px 3px 4px #5b799f;
	font-size: .8rem !important;
	height: .6rem !important;
	z-index:99;
}

.actionSheetMenuItem:focus {
    background-color: #77a3b8 !important;
}

.listItem-button:hover:not(:disabled) {
	background-color: rgb(141, 180, 193);
}

.btnTryIt {
	font-size: 0.8rem;
}

.weatherbotScreenSaver,
.clockScreenSaver {
	-webkit-background-size: cover;
	background-size: cover;
}

.ssFailure,
.ssForeplane,
.ssForeplane > * > .material-icons {
	color: #fff;
	text-shadow: 0 0 10px #b7f8ff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #16ffde, 0 0 70px #1cfff4;
	background: rgba(10, 10, 10, .0);
}

.ssBackplane {
	background: rgba(19, 71, 69, 0.7);
}

.cardPadder .cardImageIcon {
    color: rgba(0, 0, 0, 0.5);
}

.headerWthMain {
	color: rgba(178, 248, 255, 0.8) !important;
	text-shadow: 1px 1px 8px #39708b !important;
}

#backdropWidget,
#headerWthRight {
	margin: 0 !important;
	padding: .2em .4em .2em .4em !important;
	border: 2px groove #8cbdc8 !important;
}

.homePage {
    padding-top: 9.5em !important;
}

.libraryPage {
    padding-top: 4.4em !important;
}

.infoDetails {
	font-size: 90% !important;
}

.sliderMarkerContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 0.54em; /* half of slider thumb size */
}

.sliderMarker {
    position: absolute;
    width: 2px;
    height: 0.5em;
    transform: translate3d(0, 25%, 0);
}

.sliderMarker.unwatched {
    background-color: rgba(184, 232, 255, 0.5);
}

.sliderMarker.watched {
    background-color: #15487d;
}

.userProfileAvatar {
	border: 1px solid rgb(81, 107, 116) !important;
	box-shadow: rgb(87, 116, 141) 4px 4px 12px !important;
}

.nightFilter {
	background: linear-gradient(90deg, rgb(206, 14, 245) 0%, rgb(242, 7, 150) 100%) !important;
}
