
* {
	scrollbar-color: #246b76 #b8d9d6;
    scrollbar-width: thin;
}

.skinHeader,
html {
    color: #0a5e9b;
}

.headerLeft, .headerRight {
	overflow: visible;
}

::-moz-selection { 
	color: #113c6a;
	background: #b7d6f7;
}

::selection {
	color: #113c6a;
	background: #b7d6f7;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}

.formDialogHeader,
.skinHeader-withBackground {
	background: linear-gradient(105deg, rgb(133, 200, 197) 0%, rgb(96, 147, 177) 100%);
    color: #fff;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.osdHeader {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: #91b0d2;
}

.layout-tv .skinHeader.semiTransparent {
    background-color: #91b0d2;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

html {
    background-color: #daeaf4;
}

.backgroundContainer {
	background: linear-gradient(105deg, rgba(55, 95, 172, 0.5) 0%, rgba(60, 152, 126, 0.5) 40%, rgba(38, 112, 148, 0.5) 70%, rgba(185, 217, 219, 0.5) 100%);
	background-color: rgb(220, 242, 248);
    -webkit-background-size: cover;
    background-size: cover;
}

.backgroundContainer.withBackdrop {
   background-color: rgba(220, 242, 248, .8);
}

.backgroundContainer.withThemeBackdrop {
   background-color: transparent;
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: #d0effc;
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #000;
}

.fab,
.raised {
    background: #f0f1e9;
    color: inherit;
}

.fab:focus,
.raised:focus {
    background-color: rgba(66, 126, 139, 0.4);
	color: rgb(255, 232, 232);
}

.button-link,
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: rgb(86, 121, 158);
}

.paperList,
.visualCardBox {
    background: rgba(103, 164, 161,.1);
}

.defaultCardBackground1 {
    background-color: #009688;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent;
    border: none;
    color: inherit;
}
	
.actionsheetDivider {
    background: rgba(0, 0, 0, 0.14);
}

.formDialogHeader a {
    color: #fff;
}

.actionSheetMenuItem:hover {
    background-color: #ddd;
}

.toast {
	color: white;
	background: rgb(96, 147, 177);
}

.appfooter,
.playlistSectionButton {
	background: linear-gradient(to right, #fff 0%, #add1d3 18%, #6eb5d8 38%, #a3d4dc 68%, #6fa3b6 81%, #2c687b 100%);
    color: #1d6fa1;
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.nowPlayingBarSecondaryText {
    color: #999;
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.alphaPickerButton {
	color: rgb(76, 140, 171);
	background-color: transparent;
	font-weight: 600;
}

.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: #b9d2d5 !important;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.emby-input,
.emby-textarea {
	color: rgb(101, 133, 144) !important;
	background: #fff;
	border: 4px ridge rgb(199, 215, 217);
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}

.itemProgressBarForeground {
    background-color: #e2dec6;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator,
.mediaSourceIndicator,
.indicator {
	color: #1684ba;
	background: White;
	box-shadow: 0 0 8px #286089;
	text-shadow: 1px 1px 3px #9eb9c3;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer {
    background: #fff;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #968b5b !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: rgba(0, 0, 0, 0.54);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #968b5b;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #968b5b;
    color: #fff;
}

.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.buttonActive {
    color: #968b5b !important;
}

.cardBox:not(.visualCardBox) .cardPadder {
    background-color: #fff;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: rgba(106, 136, 207, 0.8) !important;
} 

.metadataSidebarIcon {
    color: #968b5b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #081b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #083b6b;
}


/* checkbox widget */

@keyframes check-in {
	from {transform: scale(0);}
	to {transform: scale(1.8);}
}

.checkboxOutline {
	overflow: visible;
	transform: scale(0.8);
	border: 3px solid rgb(37, 71, 77);
	border-radius: 20%;
}

.emby-checkbox + span + .checkboxOutline {
    border-color: #5e97ae;
}

.emby-checkbox:checked + span + .checkboxOutline {
	background-color: transparent;
}

.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover:not(:disabled) + span + .checkboxOutline,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-checked,
.radio:hover:not(:disabled) + * + .checkboxOutline > .checkboxIcon-unchecked {
	border-color: rgb(35, 218, 141);
	color: rgb(35, 218, 141);
}

.checkboxIcon-checked {
	color: #fff !important;
	padding-left: 5px;
	padding-bottom: 6px;
	transform: scale(1.5);
	text-shadow: 1px 2px 3px #1e1d25;
	animation-name: check-in;
	animation-duration: .15s;
}

/* Buttons */

@keyframes focus {
	to {transform: scale(1.3);}
}

.homeLibraryButton {
	color: rgb(186, 199, 223) !important;
	background-color: rgba(36, 136, 153, 0.4);
	box-shadow: 0px 0px 4px #244877;
	font-weight: 400;
}

.homeLibraryButton:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(92, 151, 179, 0.8) !important;
}

.homeLibraryButton:focus {
	color: rgba(28, 72, 119, 0.8) !important;
	background-color: rgba(123, 152, 184, 0.8) !important;
	transform: scale(1.1) !important;
	font-weight: 600;
}

.listItemBody {
	color: rgb(101, 133, 144);
}

.listItemBody:hover:not(:disabled) {
	color: rgba(244, 245, 247, 0.8) !important;
	background-color: transparent !important;
}

.listItem-button:hover:not(:disabled) {
	color: rgba(244, 245, 247, 0.8) !important;
	background-color: rgba(141, 180, 193, 0.8) !important
}

.listItem-button:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.listItem-button:active {
	color: rgba(255, 255, 255, 0.8) !important;
}
 
.emby-button:hover:not(:disabled) {
	color: rgb(4, 103, 162);
}

.emby-button.show-focus:focus > .listItem > .listItemBody {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(177, 224, 239, 0.8) !important;
}

.emby-button:active {
	color: rgba(255, 255, 255, 0.8);
}

/* tab buttons */

.emby-tab-button {
	text-shadow: 0 0 2px #749cb0;
	color: #277499;
	transform: scale(1.0);
}

.emby-tab-button:hover:not(:disabled) {
    color: rgba(143, 225, 229, 0.8);
}

.emby-tab-button-active,
.emby-tab-button-active:focus,
.emby-tab-button-active:hover:not(:disabled) {
	text-shadow: 0 0 6px #142b4f;
	color: rgba(246, 255, 255, 0.8);
	transform: scale(1.3) !important;
}

/* headerButton */

.headerButton:focus {
    background-color: rgba(123, 152, 184, 0.4);
	animation-name: focus;
	animation-duration: .15s;
	transform: scale(1.3);
}

.headerButton:hover:not(:disabled) {
	color: #efe4aa;
	background-color: rgba(213, 226, 242, 0.4);
}

.headerButton:active:not(:disabled) {
    color: #f0ed3c;
	background-color: rgba(255, 232, 232, 0.8);
}

/* Save button */

@keyframes click {
	from {transform: scale(1.2);}
	70% {transform: scale(1.4);}
	to {transform: scale(1.2);}
}

.button-submit {
	width: 50% !important;
	margin: 0 auto !important;
	background-color: rgb(36, 136, 153);
	box-shadow: 0px 0px 8px #609295;
	color: rgb(193, 206, 212) !important;
	font-weight: 600;
}

.button-submit:hover:not(:disabled) {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(92, 151, 179, 0.8) !important;
	transform: scale(1.2);
}

.button-submit:focus {
	color: white !important;
	background-color: rgba(123, 152, 184, 0.8) !important;
	transform: scale(1.2);
}

.button-submit:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
	color: rgba(255, 255, 255, 1) !important;
	animation-name: click;
	animation-duration: .15s;
	transform: scale(1.2);
}

/* detail button */

.detailButton {
	border-radius: 50%;
	margin: 4px !important;
	padding: 9px !important;
}

.detailButton:hover:not(:disabled) {
	background-color: rgba(169, 198, 230, 0.4);
}

.detailButton:focus {
	transform: scale(1.3);
	background-color: rgba(85, 142, 216, 0.4);
	animation-name: focus;
	animation-duration: .15s;
}

.detailButton:active {
	background-color: rgba(255, 232, 232, 0.8) !important;
}

/* select widget */

.selectArrow {
	text-shadow: 2px 2px 3px #1e1d25;
}

.emby-select-withcolor {
    background: #fff;
    border: 0.07em solid rgba(0, 0, 0, 0.158);
	font-weight: 400;
	line-height: 1.35;
	color: rgb(101, 133, 144) !important;
}

.selectLabel,
.sliderLabel,
.checkboxLabel,
.inputLabel {
	font-weight: 600;
	color: rgb(101, 133, 144);
}

.emby-select-withcolor:focus {
	border-color: rgba(38, 218, 247, 0.8);
}

.emby-select-withcolor > option {
	color: #7b87a9;
	background: #fff;
}

.emby-select-tv-withcolor:focus {
    border-color: rgba(38, 218, 247, 0.8);
    color: #fff;
}

select option:disabled {
	color: rgb(9, 54, 111);
}

select option:selected {
	color: #ffffff !important;
	background: #898989 !important;
}

/* slider widget */

.mdl-slider {
	background: transparent;
}

.mdl-slider-background,
.mdl-slider-background-flex  {
	background: hsl(209.5, 36.5%, 67.3%);
}

.mdl-slider:focus,
.mdl-slider:hover:not(:disabled) {
	background-color: rgba(67, 120, 176, 0.1);
}

.mdl-slider:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.mdl-slider-background-lower  {
	background: linear-gradient(90deg, rgb(110, 201, 255) 0%, rgb(0, 104, 148) 100%);
}

.mdl-slider::-moz-range-thumb
 {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #3f6d9f;
}

.mdl-slider::-ms-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #3f6d9f;
}

.mdl-slider::-webkit-slider-thumb {
	box-shadow: 0px 2px 8px #1e1d25;
	background: #3f6d9f;
}

.mdl-slider-container {
    height: 0.83em !important;
}

.sliderBubble {
	background: #f6f6f6;
	color: #113c6a;
	border-radius: 62px;
	border: 1px solid #cfcfcf;
}

/* dashboard menu */

.navMenuOption:hover:not(:disabled) {
	color: rgba(155, 155, 155, 0.8) !important;
	background-color: rgba(240, 240, 240, 0.8) !important;
}

.navMenuOption:focus {
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: rgba(210, 210, 210, 0.8) !important;
}

.navMenuOption:active {
	color: rgba(255, 255, 255, 0.8) !important;
}

.navMenuOption-selected {
    background-color: rgba(180, 180, 180, 0.8) !important;
    color: #fff;
}

/* top bar clock style */

.headerClockButton {
	padding:0px 15px;
}

.headerClockTime,
.headerClockDate {
	color: #135090;
	text-shadow: 1px 1px 4px #304753;
}

.headerClockTime {
	font-size: 140% !important;
}

.headerClockDate {
	font-size: 90% !important;
}

.nightClock > .headerClockTime,
.nightClock > .headerClockDate {
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bcf5ff, 0 0 40px #76e8fb, 0 0 50px #0cfcf1, 0 0 60px #16ffde, 0 0 70px #1cfff4;
}

.headerClockButton:hover > .headerClockTime,
.headerClockButton:focus > .headerClockTime {
	font-size: 140% !important;
}

.headerClockButton:hover > .headerClockDate,
.headerClockButton:focus > .headerClockDate {
	font-size: 90% !important;
}

.formDialogHeaderTitle,
.pageTitle {
	color: #fff !important;
	text-shadow: 1px 1px 4px #304753;
}

.material-icons {
	color: #135090;
	text-shadow: 1px 1px 4px #304753;
}

.cardOverlayButton > .material-icons {
    color: #cbeeff;
    text-shadow: 1px 1px 4px #4a5152;
}

.starIcon {
    color: #f2b01e !important;
}

.playstatebutton-icon-played {
    color: #62976a !important;
}

.detailRibbon {
    background-color: White;
    color: rgba(255, 255, 255, 0.87);
}

.layout-tv .detailRibbon {
    background: none;
}

.itemName {
	color: #146088;
	text-shadow: 0 0 4px #6f7373;
}

.formDialogHeader:not(.formDialogHeader-clear) {
	background-color: #edece8;
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.cardText-secondary,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
	color: #fff;
	font-size: 85%;
}

.skinHeader.osdHeader {
	background: linear-gradient(180deg,hsla(213.8, 35.9%, 30%, 0.85),hsla(240, 100%, 0.2%, 0.05));
	height: 6.5em;
	transition: opacity .6s ease-out;
}

.emby-input:focus,
.emby-textarea:focus {
	border-color: rgba(38, 218, 247, 0.8);	
}

.jstree-default .jstree-wholerow-clicked {
    background: #edeabc !important;
}

.button-accent-flat {
	color: #4f4c41 !important;
	text-shadow: 1px 1px 15px #8c8c8c !important;
	overflow: visible !important;
}

.material-icons.favorite::before {
    content: "\e87e";
}

.material-icons.favorite.ratingbutton-icon-withrating::before {
	content: "\e87d";
}

.ratingbutton-icon-withrating {
    color: #bbf6ae !important
}

.backdropImage {
    background-color: rgb(220, 220, 220) !important;
	top: 3.3em;
}

.backdropImage.themeBackdrop {
	background-image: url(./bg.jpg) !important;
}

.backdropImage.themeBackdrop.alt1 {
	background-image: url(./bg-alt1.jpg) !important;
}

.backdropImage.themeBackdrop.alt2 {
	background-image: url(./bg.jpg) !important;
}

.backdropImage.themeBackdrop.alt3 {
	background-image: url(./bg-alt1.jpg) !important;
}

/* fix for TV Layout */

.layout-tv .detailPageWrapperContainer {
	margin-top: 2%;
}

/* Tab About... */

.abouttab {
	font-family: inherit;
	font-size: 90%;
	line-height: 1.35;
	font-weight: 400;
	text-shadow: 1px 1px 4px #749cb0;
	color: #277499;
	position: fixed;
	top: 20%;
	left: 40%;
	align-items: flex-start !important;
	width: auto;
}

.aboutcontent {
	color: #d3f9ff;
	text-shadow: none;
}

/* upNext dialog box */

.upNextContainer {
	background: #113c6a;
	color: #b7d6f7;
	width: auto;
	overflow: hidden;
	margin: 0 0 0 0;
	position: fixed;
	bottom: 3%;
	right: 1%;
	will-change: unset;
}

.upNextDialog-countdownText {
	color: #00a4dc;
}

.upNextDialog-button {
	background: #e0e6e6;
	color: #113c6a !important;
}

.upNextDialog-button:focus {
	transform: scale(1.1) !important;
	color: #113c6a !important;
	background: #b7d6f7 !important;
}

.mediaInfoItem {
	color: #fff !important;	
}

legend {
	padding: 0 10px 0 10px;
	font-weight: 600 !important;
	text-shadow: 2px 2px 4px #6a7679;
	color: #fbfdff;
}

/* Pseudo radio widget (a radio button that allows unselects) */
/* based on the checkbox widget */

.radio > .checkboxLabel,
.radio + .fieldDescription {
	margin-bottom: .3em !important;
	margin-left: -.3em !important;
}

.radio > * > .checkboxIcon-checked,
.radio > * > .checkboxIcon-unchecked {
	font-size: 170%;
	text-shadow: 1px 2px 3px #1e1d25;
	color: #5e97ae;
}

.radio.emby-checkbox + span + .checkboxOutline {
	border: none !important;
}

.radio.emby-checkbox:checked + span + .checkboxOutline {
	background-color: transparent;
}

.radio:focus + * + .checkboxOutline > .checkboxIcon-checked,
.radio:focus + * + .checkboxOutline > .checkboxIcon-unchecked {
	color: white !important;
}

.radioButtonLabel,
.emby-collapsible-button {
	color: rgb(134, 167, 179) !important;
	font-size: .9em !important;
 }
 
.collapseContent {
	color: rgb(134, 167, 179) !important;
	background-color: #e1e8e7 !important;
 }
 
.iconOsdProgressInner {
	background: rgb(181, 201, 218);
}

option.sourceDictionaryOption {
	color: #fff;
}

fieldset {
	padding: 1.5em 2em 0 2em;
	margin: 0 0 2em 0;
	border: 4px groove #fcfcfc !important;
	border-color: #b7e3f4 !important;
}

.fieldDescription {
	color: #527898;
	font-style: italic;
	font-size: 85%;
}

.LangDetailsHeader {
	color: #427386;
	font-size: 100%;
	font-weight: 600;
	font-style: normal;
}

.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
    border-color: #527898 !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
	background: #cce3e6 !important;
	color: #fff !important;
	font-weight: 600 !important;
}

div[data-role="controlgroup"] a.ui-btn-active {
	background: #377f8f !important;
	color: #fff !important;
	font-weight: 600 !important;
}

.headerUserButtonRound {
	border: 1px solid rgb(81, 107, 116);
}

.userProfileImage {
	border: 6px ridge rgb(81, 107, 116);
}

.sectionTitle {
	color: #efefef;
	text-shadow: 1px 1px 3px #1a8489;
	font-weight: 600;
}

.libraryPage {
    padding-top: 4em !important;
}

.formDialogContent {
	background: linear-gradient(105deg, rgba(55, 95, 172, 0.5) 0%, rgba(60, 152, 126, 0.5) 40%, rgba(38, 112, 148, 0.5) 70%, rgba(185, 217, 219, 0.5) 100%);
	background-color: rgb(220, 242, 248);
}

.dialogContentInner {
    padding: .5em 1em 1em;
}

.username {
	color: #efefef;
	text-shadow: 1px 1px 3px #1a8489;
	font-weight: 600;
}

.actionSheetTitle {
	color: #4298c1;
	text-shadow: 1px 1px 3px #83aab6;
	font-weight: 600;
	font-size: 1.5em;
}

.listItemIcon:not(.listItemIcon-transparent) {
    background-color: #81a5b2 !important;
    border-radius: 50%;
    color: #fff;
}
